[2013-07-08 00:01] codeBelt opened #1 "Error: Cannot find module"
When I use your grunt plugin I get the error below:

Roberts-Mac-mini:_build codebelt$ grunt ts
Running "ts:website" (ts) task

module.js:340
    throw err;
          ^
Error: Cannot find module '/Users/codebelt/Sites/3mred/web/public/src/StructureTS/_build/node_modules/grunt-ts/node_modules/typescript/bin\tsc'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load

[2013-08-04 13:33] #1 closed, assigned to nobody

[2013-08-07 13:47] mimo84 opened #2 "LiveReload not working with grunt-ts"
Hi, I am a newbie of Grunt so maybe the problem I am experiencing is caused by myself.
I created a new project using Yeoman, and then I installed grunt-ts, and modified the Gruntfile.js as follow:

[code]

When I run grunt server the compilation runs just fine, but this exclude the livereload from working as it would be using coffeescript.

You can have a look at the full file here: https://github

[2013-08-08 09:42] #2 closed, assigned to nobody

[2013-08-27 07:08] pspi opened #3 "Using reference file as workaround to typescript command line source file ordering issues"
Testing reference file generation, do you think this should work:

https://gist.github.com/pspi/6350429

Running the generated single-file output gives me this error that reminds me the usual files given in wrong order to typescript compiler.

[code]

Assumes installing necessary npm modules:

[code]

[2013-08-27 11:51] #3 closed, assigned to nobody

[2013-08-30 13:22] PulsarBlow opened #4 "Enhancement - Banner option"
Hi basarat,

It would be super cool to have a kind of "banner" option which would combine with the "out" option of the grunt-ts task.

This way we wouldn't need to use another grunt task to insert a header after the concatenation.
I suppose we could use the comment-are-kept feature in the _reference.ts but this doesn't integrate well with the need to keep our version centralized (package.json)

Ch

[2013-09-09 00:59] basarat opened #6 "amdloader generates an empty section when there are no files"
e.g.     `require([""],function (){`

[2013-09-14 23:27] #6 closed, assigned to nobody

[2013-10-02 07:45] ljl opened #7 "Compiling is slow"
Using grunt-ts, compiling takes almost twice as long as the tsc compiler.

[code]

[2013-10-11 03:32] bestander opened #8 "tscommand.tmp.txt"
Hi, is this file necessary to be created in root folder?

[2013-10-16 10:23] vmadman opened #9 "Code "stacking""
Please forgive my ignorance, I could not think of a more appropriate way to ask this question.  I cannot be sure if this is inherent to grunt-ts or ts itself, so please tell me what you think.

I noticed that the output JS file has module definitions repeated per source file.  This was happening to me so I downloaded your angularJS example (from the video) and saw that it happens to your source as

[2013-10-16 10:49] #9 closed, assigned to nobody

[2013-10-22 05:14] dorjeduck opened #10 "moving Controllers etc out of the global name space"
Not really an issue, more a question of a newbie. Is there a way to move all the objects which are created (Controllers etc) out of the global namespace. I tried to do yet so far no luck ... thanks

[2013-10-22 08:11] #10 closed, assigned to nobody

[2013-10-24 02:25] jeffmay opened #11 "Allow running other tasks with grunt-ts watch"
I would like to watch and run tests as I make source or test code changes. Since I can't run arbitrary tasks with the grunt-ts watch, I have to choose between using grunt-ts to compile and generate the reference and template files or using grunt-typescript and grunt-contrib-watch to compile and run the tests (but without the other awesome development features of grunt-ts).

The best way I can thin

[2013-10-30 11:09] antonmoiseev opened #13 "Source root for source maps"
### Question

Is there a way to specify source root for generated source maps like [here](https://github.com/k-maru/grunt-typescript#base_path-string)?
### Problem

I'm working on AngularJS app generated with Yeoman. The project has directory layout similar to this:

[code]

`grunt-ts` is configured this way:

[code]

Every time `grunt ts` command is executed, the plugin picks up all the `*.ts` fi

[2013-10-31 10:11] ttsiodras opened #14 "As per your SO response, I tried using grunt-ts in my project..."
As per your SO response, I tried using grunt-ts in my project - but see this:

[code]

Any ideas what could be wrong? I used the same setup as your tutorial video (Animal / Cow / etc) where it worked fine - but with my project I see this error. How to debug it?

[2013-11-01 14:54] #14 closed, assigned to nobody

[2013-11-03 13:12] Bartvds opened #15 "Lingering tscommand.tmp.txt"
I moved my project from `grunt-typescript` to `grunt-ts`, it works great but using it leaves a `tscommand.tmp.txt` in the root of my project.

Is this intentional?

[2013-11-11 18:13] mindplay-dk opened #17 "Compile without `--module`"
There's no way to compile without the `--module` option?

Neither `module: null` or `module: false` appears to work.

Hence no way to use this task to compile a non-module?

[2013-11-11 23:33] #17 closed, assigned to nobody

[2013-11-12 00:00] #11 closed, assigned to nobody

[2013-11-13 18:05] VaclavObornik opened #18 "Html 2 TypeScript - reference file bug in WebStorm"
I'm using latest WebStorm and latest grunt-ts.
When html file is created, grunt-ts generates .ts file for it and adds reference for this file to a reference file like this:

[code]

The comment "// generated" causes that WebStorm cannot evaluate this line as reference and intellisense doesn't work well.

[2013-11-18 05:42] #13 closed, assigned to nobody

[2013-11-23 19:11] jeffmay opened #21 "Verbose option to show equivalent tsc command."

[2013-11-24 07:06] #21 closed, assigned to jeffmay

[2013-11-24 07:11] jeffmay opened #23 "Allow running external tasks in the watch loop"
This would be really nice and shouldn't be hard to do with grunt.

[2013-11-24 07:14] jeffmay opened #24 "Utilize latest grunt.d.ts definition"
@basarat would you be okay with this? I want to make sure that the definition file is useful for us. I feel weird putting it up for open-source and not using it on this project.

[2013-11-24 21:00] #24 closed, assigned to jeffmay

[2013-12-01 13:31] jeffmay opened #27 "Create Jasmine testing template that works with flat module style"
When running unit tests with Jasmine out of the box, I see a bunch of failures about angular not being defined and other things. I think it is important for the angular community to know that there is a simple and fast way to get started with unit tests.

I think the easiest option might be to create a grunt-contrib-jasmine template that loads the amd loader file before loading all the test script

[2013-12-02 12:27] danbroun opened #28 "Incremental compilation"
Hi,

is it possible to enable incremental compilation?

[2013-12-02 16:51] mhjam opened #29 "sourcemap option is not respected"
Source maps are being generated even if {sourcemap: false} is given in the options.

I guess it's due to

options.sourceMap = options['sourcemap'] || options.sourceMap;

(line 632 in ts.ts) together with the default sourceMap: true.

[2013-12-03 08:27] #29 closed, assigned to jeffmay

[2013-12-03 09:00] basarat opened #31 "NPM Publish"
@jeffmay I'll try and add you as an owner on npm : https://npmjs.org/doc/cli/npm-owner.html

I am new to this but could not find your name on npm do you have an account: https://npmjs.org/login?

[2013-12-05 23:18] basarat opened #32 "Update to TypeScript 0.9.5"

[2013-12-05 23:19] #32 closed, assigned to basarat

[2013-12-08 12:14] aaharu opened #33 "options.removeComments is always true"
https://github.com/basarat/grunt-ts/blob/7f1d8d8c1b62367791e373197b2e2b0e445b49e0/tasks/ts.ts#L646

[2013-12-13 05:50] basarat opened #34 "Fast compile for quick testing"
Add a fast compile option. What this will do is compile a single typescript file silently removing all `///<reference` statements and change `import foo = require('bar')` to `var foo = require('bar')` so that you can test the single js file quickly and silently (even though it might have type errors)

It will then continue to compile the project in the background which will allow us to get the typ

[2013-12-13 15:30] apuchkov opened #35 "grunt-ts doesn't work without node installed in the system."
We keep a local copy of node along with source in projects to let anyone checkout the project and launch grunt without node installation.

grunt-ts expects node to be installed. grunt-typescript works without node installed in the system.

[2013-12-20 22:34] #33 closed, assigned to nobody

[2013-12-26 05:54] jeffmay opened #40 "//generated comment prevents intellij from resolving the reference"
@basarat any reason we need this?

I would think we could just remove the comment as it isn't really that helpful for humans. Users should understand that this is one of the things they configured.

I just remove them by hand for now, but I'm thinking of just removing them from grunt-ts.

[2013-12-26 06:25] jeffmay opened #41 "amdloader path should be relative to reference file and not outDir"
If you have a project like so:

[code]

then when you attempt to compile them both into the same directory with an AMD loader...

[code]

the outDir is "target/js" so the paths in amdloader are all set to "./../main.js" instead of "./main.js".

We should think about how we want to handle multiple reference files in a project. Maybe a separate ticket for this?

In this case, it would be simple enou

[2014-01-08 05:34] #18 closed, assigned to basarat

[2014-01-08 05:34] #40 closed, assigned to nobody

[2014-01-09 07:01] #31 closed, assigned to nobody

[2014-01-14 03:19] jeffmay opened #44 "using AMD loader as a task option"
On the https://github.com/jeffmay/angular-ts-seed project, I don't see an AMD loader file when I update the root "ts" options to include the amdloader config:

[code]

[2014-01-14 22:08] #44 closed, assigned to nobody

[2014-01-20 01:20] DerekLiang opened #47 "Documentation is unclear"
In the  following documentation, it is not clear that the 'out' in 'dev' object is used for html-2-typescript or not. It will nice if the parameters can be explicitly prefixed by 'html' to indicate that is the case. For example, 'htmlOut'. At least, on my machine the 'out.js' only contains the JavaScript that is compiled via html-2-typescript code. Please verify that is intended.

[code]

Thanks!

[2014-01-20 04:57] #47 closed, assigned to nobody

[2014-01-30 23:13] Bartvds opened #48 "Multi-proccess compile conflict on tscommand.tmp.txt"
When I try to run multiple grunt processes in one project (like from `grunt-concurrent`) I sometimes get an error when they race for control of `tscommand.tmp.txt`

Maybe some uniqueness in the temp-name would be good?

[2014-02-01 21:27] #15 closed, assigned to nobody

[2014-02-01 21:28] #48 closed, assigned to nobody

[2014-02-01 21:32] jeffmay opened #50 "Cleanup lingering tscommand file after killing grunt-ts"
If you kill grunt while tsc is compiling, grunt-ts will leave behind a tscommand.

It should be able to clean up after the SIGINT signal.

[2014-02-01 21:33] jeffmay opened #51 "Replace ShellJS with asynchronous grunt.util.spawn"
This is likely causing #7 and it will make fixing #50 easier.

[2014-02-13 02:22] Bartvds opened #52 "Limit 'scope' of generated declarations?"
Not sure where this belongs, or maybe there exists an alternate way to do this:

Would it be possible to limit what files/modules get output in the generated declaration file?

My project <reference>'s (and uses) a lot of internal libraries and helpers I don't like them in the public API.

Any idea how to get this effect?

[2014-02-13 02:28] Bartvds opened #53 "Generated declaration still <reference> .d.ts files"
When I generate a declaration any `<reference>` in my project remains a `<reference>` in the output declaration  file (eg: nicely relative to my typings folder, including nested with some of my reference bundle files).

This makes the final file not self-contained / re-distributable.

Maybe we should resolve these? Optionally?

[2014-02-13 06:46] tzarger opened #54 "JS and Map Files not being generated"
Are the JS and MAP files for each individual TS file supposed to be generated? I was under the impression that they are supposed to be generated.

I Have the a simply Gruntfile.js as follows:

module.exports = function (grunt) {

  // load the task
  grunt.loadNpmTasks("grunt-ts");

  // Configure grunt here
  grunt.initConfig({
    ts: {
      dev: {
        src: ["public/**/*.ts"],
        html:

[2014-02-17 14:39] Bartvds opened #57 "Adding travis & grunt-tslint"
@basarat  I'm going to add travis-ci and TSLint (grunt-tslint) to the project.

This would makes sure the code compiles and the code-style is consistent for every contributor even if they have their editor misconfigured.

(would make PR's like the open shebang issue go a lot smoother)

[2014-02-17 19:06] #54 closed, assigned to nobody

[2014-02-17 20:51] ashwinr opened #58 "compiler error when compiling compiler code"
we're considering moving to grunt-ts for https://github.com/palantir/tslint/issues/84. But, it fails to compile the compiler sources. Here's the error:

[code]

[2014-02-17 22:49] #57 closed, assigned to nobody

[2014-02-18 15:32] #58 closed, assigned to basarat

[2014-02-21 04:26] basarat opened #61 "Watch polling interval"
When using grunt ts built in watch, have an option to specify the polling interval. Default is 100ms. See : https://www.npmjs.org/package/chokidar

[2014-02-21 15:06] Bartvds opened #62 "Clarify expected compiler override behaviour?"
I'm hammering on #51; I have it up for new code, but got a question:

I see in the grunt-ts code there is some compiler look-up thing going on. Can anybody clarify what this is expected to do?

The way I see it it should look for peer (sibling) module next to the grunt-ts module install and use that if it exists, and if that fails then use the grunt-ts bundled compiler (v0.9.5).

Is this correct?

[2014-02-22 23:40] #51 closed, assigned to nobody

[2014-02-22 23:59] #62 closed, assigned to nobody

[2014-02-24 07:36] #7 closed, assigned to nobody

[2014-02-24 08:06] basarat opened #65 "Built-in watcher going in a loop"
![image](https://f.cloud.github.com/assets/874898/2243423/81af31fa-9d2a-11e3-9ad7-cf18e8c80bfa.png)

We should ignore restarting the build if the last build is under 500ms ago.

[2014-02-25 09:48] #65 closed, assigned to basarat

[2014-02-26 20:36] gscshoyru opened #66 "Upgrade the bundled compiler to 1.0"
Currently grunt-ts uses typescript 0.9.5. Please upgrade to allow for use of the newest version.

[2014-03-02 07:06] basarat opened #68 "Modules Option"
We need codegen to simplify external modules. So you can simply add a new TypeScript file and start writing code without unnecessary ceremony required by the javascript module system.

See README: https://github.com/grunt-ts/grunt-ts/blob/feature/modules/test/modules/README.md

[2014-03-02 09:59] #35 closed, assigned to nobody

[2014-03-05 02:53] basarat opened #70 "Only compile changed files when using grunt-contrib-watch"
From https://github.com/jeffmay/angular-ts-seed/issues/1#issuecomment-36625847

[code]

Instead of expanding all the source.

[2014-03-05 11:04] basarat opened #71 "python error on install"
`grunt-ts` depends upon `chokidar` for file watching support which in turn depends on `fsevents` which gives an install error in the absence of python:

![image](https://f.cloud.github.com/assets/874898/2332315/c27650a6-a455-11e3-9ed1-72f57644f7dc.png)

However this does not break anything, and I haven't been able to replicate any broken functionality. So it can be safely ignored.

[2014-03-07 10:45] #71 closed, assigned to nobody

[2014-03-07 12:49] basarat opened #72 "compile:false not doing all the necessary codegen"
Regarding #16 @jeffmay I thought `compile:false` was to get the codegen benefits without the compilation overhead. However it seems to skip updating the `reference.ts` and `amdLoader` : https://github.com/jeffmay/grunt-ts/blob/7e4d2fba7243c4ea382ec9b475206aea73a56137/tasks/ts.ts#L711-L752

Just interested to know if I've misunderstood the purpose of the flag.

Either way its not a big concern and

[2014-03-08 03:03] basarat opened #73 "Update ts-internal"
ts-internal still depends on shelljs : https://github.com/grunt-ts/grunt-ts/blob/master/tasks/ts-internal.js#L94

Update internal to latest grunt-ts once it stabalizes.

[2014-03-08 04:54] Bartvds opened #74 "Generate declaration module wrapper"
See if possible to add a wrapper file to export a string module for `import`:

[code]

[via codeplex](https://typescript.codeplex.com/discussions/538334)

[2014-03-08 11:42] #68 closed, assigned to basarat

[2014-03-11 12:49] basarat opened #77 "TypeScript needs a `baseDir` option"
Say we have the JS structure:

[code]

If we compile with all three files with outDir set to `js` its all okay. But if we only compile `b.ts` or `c.ts` with outDir set to `js` then we would get:

[code]

Workaround is to create a temporary file under `ts` called `ignoreBaseDirFile.ts` and pass it to the `tsc` compiler

[2014-03-11 23:03] basarat opened #78 "Support fast compile with all external watching tools"
For starters get `fast:true` working with `grunt-contrib-watch`.

Basically do something like https://github.com/tschaub/grunt-newer : https://github.com/tschaub/grunt-newer/blob/master/lib/util.js

Calculate hashes of all the files expanded under `src` and on next compile only run with the files that are changed. This will make it file watching method independent.

Note : this cache needs to be p

[2014-03-12 00:21] basarat opened #79 "With fast compile continue to update amdLoader and reference"
There is no technical limitation why these cannot be done even when fast compiling. These are currently disabled when fast compiling due to their location in the code.

[2014-03-12 01:27] Bartvds opened #80 "Extract features from grunt-ts to own modules"
For a next level version:

We could think about extracting the enhanced features to their own packages and decouple them from grunt (and each other), so they can be reused more easily.

It is a next step after extracting them to the module style.

For example at some point I'd see a semi-persistent compiler server that does the watch and dependency map and then recompiles (or tracks changes for bi

[2014-03-15 13:33] basarat opened #81 "Cleanup tscache"
Clear the change tracking cache for fast compile.

[2014-03-15 13:59] #72 closed, assigned to nobody

[2014-03-15 13:59] #73 closed, assigned to nobody

[2014-03-15 13:59] #78 closed, assigned to nobody

[2014-03-15 13:59] #79 closed, assigned to nobody

[2014-03-15 14:02] #70 closed, assigned to nobody

[2014-03-15 14:02] #28 closed, assigned to nobody

[2014-03-15 14:02] #34 closed, assigned to basarat

[2014-03-16 05:45] basarat opened #83 "Hash based fast compile"
The current implementation of fast compile looks at the `mtime` (modified time) timestamp for all the files to see which files have changed since last compile.

One issue with this is when we do code generation the timestamp of code generated files would be updated and this would result in fast compile to compiling the generated files even if they didn't really change. Now if one of the changed fi

[2014-03-16 08:18] #83 closed, assigned to nobody

[2014-03-16 12:15] basarat opened #85 "Re-Simplify external modules"
Using the `index` option does help for large projects. But for quickly getting off the ground there was too much effort required in configuration. See : [Deprecation Reasons](https://github.com/grunt-ts/grunt-ts/blob/master/test/index/README.md#warning-deprecated). The new plan below is simple to understand, and requires no task configuration.
# New Version:

_Updated based on final code commited_

[2014-03-17 22:24] teamdandelion opened #86 "Doesnt handle interruptions well - throws Maximum Call Stack Exceeded"
I'm using grunt-ts in a build process with grunt-contrib-watch. I want to configure watch to interrupt the build if there are additional changes to the files, so that if I change 3 files in a row, I don't need to wait for two full compile cycles to complete before the built files are fully updated. However, when I use the grunt-contrib-watch interrupt option with grunt-ts, I get Maximum Call Stack

[2014-03-18 12:11] #85 closed, assigned to nobody

[2014-03-18 22:43] basarat opened #88 "Add export External Module Codegen"
I'll introduce the following codegen:

`///ts:export=filename|foldername`

This is similar to the `import` #85 but additionally does the export for the imported module i.e.
`export import` for you.
Motivation:
- This will also make it easier for you to author index files.
- This will make it easier for you to load an external file if you need it for the side effects (e.g. registering angularjs mod

[2014-03-20 14:52] macrosblackd opened #90 "When targeting an earlier version of TS (<0.9.5) redirect 'outDir' value to 'out'."
The parameter 'outDir' wasn't added until 0.9.5. If possible, could we redirect the 'outDir' argument to 'out' in cases where tsc version is < 0.9.5?

[2014-03-22 10:14] #88 closed, assigned to nobody

[2014-03-23 18:28] theodorejb opened #92 "Tag releases"
Could each release be tagged using Git? I noticed that npm shows the latest version as v1.8.2 but the last tagged release in the repo is v1.7.3.

[2014-03-23 23:46] basarat opened #93 "Do not write Transformed files when the transformed result is same as original file"

[2014-03-24 06:48] #93 closed, assigned to basarat

[2014-03-26 13:07] #92 closed, assigned to nobody

[2014-03-26 13:07] #81 closed, assigned to nobody

[2014-03-26 13:15] #61 closed, assigned to basarat

[2014-03-29 01:02] jrmyio opened #95 "Can be closed."
Can be closed.

[2014-03-29 01:31] #95 closed, assigned to nobody

[2014-03-29 02:15] Bartvds opened #96 "Files still recompiling in fast mode"
When I try to use fast-mode it seems the files still get re-compiled even if I don't change any code but just restart the grunt task a few times:

I always see this on every run:

[code]

Note I'm on windows, using node 0.10.26.

In my project see the `.tscache` dir: the `timestamp` file is empty, and I see 2 hash files, and the ignoreBaseDirFile etc.

(I'm a bit pre-occupied so I haven't looked i

[2014-03-29 05:38] #86 closed, assigned to nobody

[2014-03-29 07:42] basarat opened #97 "LKG `upgrade` not useful after splitting grunt-ts into modules"
`grunt upgrade` was written when we had one `ts.ts` file and only creates a copy of this file. We need to get it going so that we create a copy of the whole of `grunt-ts` to `ts-internal`.

[2014-03-29 10:45] #96 closed, assigned to basarat

[2014-04-24 10:08] #97 closed, assigned to nobody

[2014-04-25 11:42] odyssomay opened #99 "grunt-ts locks up and never exits (but tsc works fine)"
This could be an issue with the tsc version bundled with grunt-ts I suppose. System used is a (very slow) laptop with windows 8.1. grunt-ts version is `1.10.0` and tsc version is `1.0.0`.

Running grunt-ts:

[code]

I've tested running much longer but it still wouldn't exit. Running without `time` in front doesn't work either.

Running tsc:

[code]

The command I used is copied from the `tscommand

[2014-04-25 22:40] #99 closed, assigned to nobody

[2014-04-26 00:06] #66 closed, assigned to nobody

[2014-04-27 15:47] acadet opened #101 "Smarter reference file generation"
Hi there,

Would it be possible to generate reference file according to dependencies? What I mean is, for instance, to have base classes at the top of generated section and dependencies below.

I know it's possible to build a correct file by myself, but it would be such cool to have nothing to do ;)

Is an improvement already planned?

Thanks!

[2014-04-29 12:37] supermoos opened #102 "Specify HTML2TS output directory"
Is it possible to specify the output directory for generated test.html.ts files?

[2014-04-29 14:47] #102 closed, assigned to nobody

[2014-05-27 21:42] wudong opened #105 "ReferenceError: define is not defined"
with  "grunt-ts": "1.11.2" and "grunt": "~0.4.5",

Running the following file

[code]

results in the error:

[code]

any clue?

[2014-06-02 23:21] jamiewinder opened #106 "html2ts module path"
At the moment, the html2ts feature converts a HTML file to

[code]

Which causes the global object root to become messy. It'd be nice to be able to specify a prefix for this mobile name, e.g.  'myapp' will generate:

[code]

Or, perhaps as an option, to derive the module path from the directory structure.

[2014-06-13 12:59] raDiesle opened #107 "watch on windows"
Hi,

 using 11.0.1
I got on win7

Running "ts:watch" (ts) task
[D] Task source: C:\dev\svn\alerting\trunk\src\main\webapp\resources\application\node_modules\grunt-ts\tasks\ts.js
Verifying property ts.watch exists in config...OK
Files: [no src] -> watch
Options: allowBool=false, allowImportModule=false, compile, declaration=false, mapRoot="", module="commonjs", noImplicitAny=false, noResolve=false,

[2014-06-13 13:40] raDiesle opened #108 "empty out.js file on --out windows"
Hi, using default options, and 11.1.0

the -- out target does not work
it will create an empty file.
but the outDir works.

[2014-06-16 11:48] #108 closed, assigned to nobody

[2014-06-17 10:01] raDiesle opened #109 "--out support by Almond"
Hi,

as asked in
https://github.com/grunt-ts/grunt-ts/issues/108

Isn't it a preferred way to use amd, but compile in one file, because of performance in (older ) browsers?

So Almond and r.js support this.
Wouldn't it be cool to support within the ts lifecycle as well?

[2014-06-19 08:51] raDiesle opened #110 "Support Caching to Single-File-Compilation"
Hi,

it's described implicitely, that caching is not supported for --out.

I assume, that adding support for caching --out is hard, because it would
mean to prehook into typescripts --out compiler, right?

So to speedup the dev workflow without using amd/commonjs would mean
to later on compile to single file by another grunt task, or is there a more clever way?

Like discussed here:
https://github

[2014-06-24 12:13] raDiesle opened #112 "AMD and shim libs"
Hi,

as far as I see in the examples, vendor libs like angular are not imported as amd modules e.g. with shim.
It means, AMD is just used half, which is probably not acceptable.

Is there any idea, how to setup a workflow support shim ?

[2014-06-25 08:06] OlsonDev opened #113 "Watch doesn't work"
I've tried several config permutations but I can't seem to get watch functionality to work at all.

This is what I currently have in my `Gruntfile.js`:

[code]

I've tried removing the `Reference.ts` bit from `src` and the entire `reference` property. I've tried changing `out` to `outDir` (with a value of `src/public/scripts/js`. I've tried changing `src` to `src/public/scripts/**/*.ts` and then t

[2014-06-25 08:17] #112 closed, assigned to nobody

[2014-06-25 18:50] martypdx opened #114 "Include references on watch"
I've got the following gruntfile:

[code]

None of the `app/**/*.ts` files have references, I'm picking those up via the `scripts/typings/**/*.d.ts`. Works fine on initial `grunt`, but fails on file watch because there are no references.

I thought generating the reference.ts would help, but no avail.

Rest of the team uses Visual Studio, so I'm trying to shoehorn this in and I'm a TypeScript noob

[2014-06-27 15:08] #74 closed, assigned to nobody

[2014-06-27 15:10] #53 closed, assigned to nobody

[2014-06-27 15:11] #52 closed, assigned to nobody

[2014-06-27 15:14] Bartvds opened #115 "Module is throwing notices"
I get this in my output after reinstalling my dependencies:

[code]

But I do nothing with the html feature so what's up? :wink:

[2014-06-30 09:29] OlsonDev opened #117 "Consider using Lo-Dash instead of Underscore"
[Lo-Dash](http://lodash.com/) is an in-place replacement for Underscore and [better in many regards](http://stackoverflow.com/questions/13789618/differences-between-lodash-and-underscore) such as performance, correctness, consistency, and filesize. Albeit an older question on Stack Overflow, that link is still relevant. The [author](https://twitter.com/jdalton) frequently makes it clear (on his Tw

[2014-07-08 10:13] jzvelc opened #118 "Arguments to path.join must be string."
I am unable to implement grunt-ts in my grunt due to following error when running task:
Compiling...
Warning: Arguments to path.join must be strings Use --force to continue.

I have tried almost everything without success.

[2014-07-09 21:44] Bartvds opened #119 "Logging CLI string can get a bit too much"
I have some builds where I have to glob for TS files instead of passing a single entry, but grunt-ts logs the whole CLI string so I get this huge walls of log output:

For example: https://travis-ci.org/DefinitelyTyped/definition-tester/builds/29548466#L485

[2014-07-10 00:05] #119 closed, assigned to nobody

[2014-07-12 03:55] Bartvds opened #121 "Remove JS files from repo & add npm prepublish script"
The compiled JavaScript doesn't have to be checked-in, but instead be compiled before packaging in a [prepublish script]() via package.json. It runs automatically when running npm publish.

Saves a lot of noise in the diffs, I use it in all my TS projects.

[2014-07-21 13:35] #115 closed, assigned to basarat

[2014-07-21 13:35] #118 closed, assigned to basarat

[2014-07-26 05:11] iislucas opened #123 "Document baseDir in the README"
Would be good to have some comment on how baseDir option works in the readme.

[2014-07-26 23:42] pocesar opened #124 "--out isn't working (at least on Windows)"
I have a couple of angularjs .ts files, and I'm doing this:

[code]

the `typings/reference.ts` is as following:

[code]

results in

[code]

[2014-07-28 20:48] iislucas opened #125 "Support checking typescript code implements a declaration file"
Would be great for grunt-ts to have a way to check a declaration file has the same structure as a generated .d.ts file to make sure that the declaration file is indeed a declaration for the implementation.

See discussion here:
https://github.com/Microsoft/TypeScript/issues/205#issuecomment-50395901

[2014-07-31 03:01] #123 closed, assigned to nobody

[2014-08-01 00:50] basarat opened #126 "Allow people to use arbitrary compiler"
We already _automatically_ detect the **typescript** module (npm) the user intends to use. But it would be nice if we allow them to use non npm compiler just if they provide a `bin` path. E.g. the current in progress TypeScript version : https://github.com/Microsoft/TypeScript/tree/master/bin

Will also allow them to use a custom build if they choose to do so.

Create a _task_ option called `compi

[2014-08-01 02:19] #126 closed, assigned to nobody

[2014-08-02 11:30] basarat opened #128 "Monitor the generated JS"
Monitor the generated JS (based on outdir/basedir) and cache it as well. If it hasn't changed since the ts changed (`mtime`) we should compile again.

Breaking change: use `always` as the default for fast compile. This will greatly simplify setting up `grunt-contrib-watch` (we will no longer care about spawn/no-spawn) or `WebStorm`
Bonus : Document using  `grunt-ts-clean`.

[2014-08-06 23:26] Zir01 opened #129 "All ts files get compiled even though I exclude specific folders"
Hi Bas,

Something weird is happening when I compile my test typescript files.

Note in the task below, how I have added the "./test/**/*.ts" for compilation and I have excluded the "!./app/src/**/*.ts". For some reason it still compiles the ts files in the app/src folder.

project structure:

[code]

[code]

Have you come across this before?

Appreciate your help.
bruce

[2014-08-07 05:54] #129 closed, assigned to nobody

[2014-08-07 18:49] costas80 opened #130 "Fast compile and internal modules"
Hello,

First of all guys, thanks a million for your effort on this project. It's an absolute must-have for anyone doing serious TypeScript development (at least outside Visual Studio).

I've noticed in the latest documentation that you've deprecated the `amdloader` option. We are actually using this in our dev workflow in what is a hack of sorts to get fast compile working with internal modules.

[2014-08-09 04:59] #130 closed, assigned to nobody

[2014-08-12 07:57] Psvensso opened #131 "HTML change should only compile changed file"
Hey guys,
just wanted to open this issue to check if it´s a feature/bug or just expected behavior.

I was using grunt-contrib-watch to watch and compile (i have multiple steps so used the contrib watch instead of buildt in). Once i changed a HTML file i could see from the contrib-watch verbose logging that all my HTML partials was being triggered for change. Meaning that grunt-ts recompiles all HT

[2014-08-13 08:31] rippo opened #132 "Editing in Visual Studio and watch does not work."
I have a weird problem where if I use Visual Studio to edit my `ts` files the watch does not see the file changes. If I use say Notepad++ and edit a `ts` file the watch kicks in and compiles the changes.

This is my gruntfile:-

[code]

When editing in Visual Studio I get this (does not work):-

![capture01](https://cloud.githubusercontent.com/assets/772549/3902806/afe579b6-22c3-11e4-9e19-d16273e9

[2014-08-20 09:10] yngvark opened #133 "Will there be support for an auto generated references.d.ts with correct order of TS-files when dealing with dependencies?"
I have not actually been using grunt-ts, so I apologize if I have misunderstood how it works when writing this. Anyway:

I am using the example from the main documentation from "JavaScript generation and ordering". Just to recap: Let's say your are using the "out" option in config to create a concatened JS-file containing all compiled JS-code. Also, you have for instance a base class that needs to

[2014-08-21 07:51] #133 closed, assigned to nobody

[2014-08-21 09:10] basarat opened #134 "Add an option `main`"
Generates a file similar to `reference.ts` but _external module_ exports every file in your project.

Good simplification target for `data-main` when you are using RequireJS.

[2014-08-25 09:04] pspi opened #136 "///ts:import=filename when the file resides in a directory with the same name"
Importing a file from directory with same name:

`
name/name.ts
`

with

`
///ts:import=name
`

results in the whole directory being imported. I just want the single file, how to tell this to grunt-ts?

[2014-08-29 13:56] marcuswhit opened #137 "Browserify support"
Does anyone use this in conjunction with Browserify?  If so, how?

If not, is there any distant plans to add Browserify support, which I guess would entail bundling this as a Browserify transform?

[2014-09-04 07:20] beloglazov opened #139 "Fast compilation does not respect the directory structure when outDir is set"
Hi Basarat,

Thanks for the nice plugin! I'm having a problem with the fast compilation. I'm using grunt-contrib-watch, my configuration is the following:

[code]

When I run it, initially all the .ts files get compiled correctly into the `build` directory into the subdirectories corresponding to the `src` subdirectories. However, when I modify one of the .ts files from an `src` subdirectory and t

[2014-09-05 12:14] bsr203 opened #140 "working with latest github version - error but no details"
Hello,

when using with github version of typescript (https://github.com/Microsoft/TypeScript), there is no detailed error message. I tried installing the compiled file glibally (sudo npm install -g . on the source root) or setting `compiler` option of grunt-ts. Both results the below output.

[code]

when switch to `https://git01.codeplex.com/typescript` branch, it works fine. Tried to look throu

[2014-09-06 03:58] #140 closed, assigned to nobody

[2014-09-07 10:30] nexussays opened #143 "Allow providing an alternate variable name to ///ts:import"
@basarat You had mentioned that I should open a new ticket to discuss this change so here it is :)
## Goal

Allow defining a name for the import variable that differs from the file imported. eg:

[code]

I'll make the change and send a PR once there is consensus on the syntax to use.

Some options:
- `///ts:import=FooBarLongName,foo` my favorite choice at the moment.
- `///ts:import=FooBarLongName

[2014-09-11 13:35] #143 closed, assigned to nobody

[2014-09-12 06:41] nexussays opened #147 "Status of the project?"
I've been getting a lot of use out of grunt-ts and was wondering what the general state of the project and maintainers are. Specifically, I'd like to add some additional functionality to make up in other areas where tsc doesn't provide enough tooling support if there is any interest there. Shall we discuss?

[2014-09-13 21:09] klinki opened #148 "ts:ref not working with generated reference file"
Hello,
I'm getting error `/// No file or directory matched name "reference.ts" ///ts:ref:generated`  when I try to add ///ts:ref=reference.ts.  (reference.ts is reference file generated by grunt-ts).

I guess I could create another file and manually add /// <reference path="./reference.ts" />  to it and add ///ts:ref=newFile.ts  to all other files, but is it possible without this workaround?

[2014-09-15 08:58] #148 closed, assigned to nobody

[2014-09-16 04:36] #137 closed, assigned to nobody

[2014-09-16 04:48] #124 closed, assigned to nobody

[2014-09-16 04:53] nexussays opened #150 "Prevent any transforms or other code in grunt-ts from entering the node_modules folder"
see: #105

[2014-09-16 04:53] #105 closed, assigned to nobody

[2014-09-16 04:54] #113 closed, assigned to nobody

[2014-09-16 04:55] #109 closed, assigned to nobody

[2014-09-16 11:37] #139 closed, assigned to nobody

[2014-09-19 01:21] beloglazov opened #152 "Problem with using jQuery UI"
I'm trying to use jQuery UI in our project from the npm package: https://www.npmjs.org/package/jquery-ui The package is correctly installed along with jQuery in node_modules. My grunt-ts configuration is the following:

[code]

Then in  one of my Typescript modules I'm trying to import it:

[code]

When I run the grunt-ts task, I get the following error:

[code]

Do you have any ideas of why this

[2014-09-19 03:01] #152 closed, assigned to nobody

[2014-09-26 12:08] pocesar opened #153 "Use ts tools for faster compilation?"
Maybe grunt-ts can use (along with watch) this module https://github.com/clausreinke/typescript-tools
I'm using it in sublime text and it's _almost_ instant when saving the file.
grunt-ts takes 8-9s on my dev machine to compile a 9k output .js file

maybe with a running compilation server the time required for compilation is chopped down

[2014-10-01 20:38] #101 closed, assigned to nobody

[2014-10-07 08:10] panuhorsmalahti opened #158 "Update to TypeScript 1.1"
The compiler has been rewritten and should be much faster.

https://www.npmjs.org/package/typescript

[2014-10-07 22:56] #158 closed, assigned to basarat

[2014-10-08 23:41] DamianEdwards opened #159 "Support multiple compilation file sets"
I'm trying to configure `grunt-ts` to compile _two_ sets of TS files down to two output files. This is how I did this using `grunt-typescript`:

[code]

The two file sets share some common files but also have unique files of their own.

Is this possible to achieve using a single target in `grunt-ts`?

[2014-10-09 18:25] vergenzt opened #160 "Why does fast compile require external modules?"
In the [docs for fast compile](https://github.com/TypeStrong/grunt-ts/blob/master/docs/fast.md), it states: "You must use _external modules_ to be effective with `grunt-ts` fast compile."

Why is that the case?

[2014-10-11 10:15] #160 closed, assigned to nobody

[2014-10-20 11:11] vijquick opened #162 "Regarding excluding referenced file from compile to js"
Hi All

I have grunt-ts task to watch a specific folder AppScripts and compile all the ts files in the folder AppScripts into js. However one of the files in that folder has reference to some other file which is outside of the watch folder ///<reference path="../../abc.ts"/>. When grunt-ts compiles it is not only compiling the ts files under AppScripts but also the outside referenced file abc.ts.

[2014-10-26 17:56] singpolyma opened #164 "An option to make compiler warnings a build error"
I would really like if if "non-emit-preventing" type warnings could be treated as build errors by the grunt plug-in.

[2014-10-30 14:06] #147 closed, assigned to nobody

[2014-10-31 08:03] hessellund opened #165 "What is the point of ts:fail"
Hi,

I just checked out you code and ran
- npm install
- grunt upgrade
- grunt build

and finally grunt dev which to my surprise produced a test failure?

Judging from the name ts:fail, I guess this is expected behavior but what is the point of that? In the shop where I work our dev task runs continually and does not fail.

[2014-11-02 14:12] zpdDG4gta8XKpMCd opened #167 "Suggestion: make use of the new native -w (--watch) switch that comes with TypeScript v1.3"
There is a new switch available in the latest build of the compiler. It looks like a better fit for what you already doing by running an adhoc watcher.

[2014-11-02 14:13] zpdDG4gta8XKpMCd opened #168 "Suggection: make use of the @arg parameter that comes with TypeScript v1.3"
There is an additional parameter @[name_of_file] that allows to specify a file containing the command line arguments in the newer version of the TypeScript compiler.

[2014-11-02 14:16] zpdDG4gta8XKpMCd opened #169 "Suggection: add the hidden file system attribute to .baseDir.ts files so they arent' visible."
`.baseDir.ts` is obviously a hack that litters the code base, if there is no better way to overcome the problem please at least make this file invisible by utilizing an appropriate file attribute of the file system

[2014-11-03 21:08] ColCh opened #170 "How to deal with node_modules?"
Hi mate! Want to include some external module in TypeScript project.

But what I should do?

Let's take an example on jQuery:

install jquery via npm:

[code]

grab definition file for it via tsd:

[code]

... How to use transformations for it?

[code]

jquery.js is located in : **node_modules/jquery/dist/jquery.js**
jquery.d.ts: **typings/jquery/jquery.d.ts**
(relative to project dir)

[2014-11-05 03:26] #106 closed, assigned to nobody

[2014-11-05 04:20] #162 closed, assigned to nobody

[2014-11-05 04:24] #165 closed, assigned to nobody

[2014-11-05 04:26] #164 closed, assigned to nobody

[2014-11-05 05:58] #167 closed, assigned to nobody

[2014-11-05 06:00] #168 closed, assigned to nobody

[2014-11-05 06:03] #170 closed, assigned to nobody

[2014-11-09 01:41] nycdotnet opened #172 "Colors in PowerShell"
GitHub for Windows uses the PowerShell command-line by default.  I've noticed that grunt-ts doesn't look the same in the PowerShell environment versus the "Node.js Command Prompt" environment.

![powershellversuscommandprompt](https://cloud.githubusercontent.com/assets/3755379/4966158/13c9d662-67b0-11e4-9e30-651a1461930c.png)

In PowerShell, it appears that some of the colors don't appear correctl

[2014-11-09 22:53] #172 closed, assigned to nobody

[2014-11-10 11:56] donnut opened #173 "full error message"
Is it possible to get the full error messsage as generated by tsc when using grunt-ts? Is seems that the error messages are now cut-off on the colon.
Currently an error message is written like

[code]

instead of

[code]

[2014-11-11 05:11] pocesar opened #174 "Reference isn't being set when executing with src / reference / outDir"
this, doesn't work:

[code]

it compiles, but there are errors that it cannot find the symbols. I did a `grunt ts --verbose` and it displayed as

[code]

which is wrong, it should be using

[code]

only.

[2014-11-14 02:01] #174 closed, assigned to nobody

[2014-11-15 19:25] #153 closed, assigned to nobody

[2014-11-16 00:28] nycdotnet opened #175 "TypeScript 1.3"
Shall we begin using TypeScript 1.3 for the development of grunt-ts?
Shall we upgrade the included compiler to 1.3?
Shall we remove 1.0?  Remove 1.1?  I don't think it would hurt to leave 1.0 and 1.1 in subfolders as artifacts.

I'm willing to do this after I finish up the `files` functionality.

I took a look.  The grunt-ts project does compile using 1.3 and from my initial review it seems that t

[2014-11-16 01:17] #117 closed, assigned to nobody

[2014-11-16 01:40] nycdotnet opened #176 "Compilation error due to lodash and underscore definitions conflict"
In Visual Studio while working on grunt-ts itself, I'm intermittently getting an issue with the lodash definition and underscore definitions conflicting with each other.

To fix it, I've had to comment out the `ThrottleSettings`, `TemplateSettings`, `List<T>`, and `Dictionary<T>` interfaces in underscore.d.ts, as well as commenting out the line that declares the actual `_` variable.

I'm not sure

[2014-11-20 15:23] swalters opened #177 "Does not return error if tsc not found"
I've had some issues on our build machine where typescript doesn't get installed.  Grunt-ts runs with no error code.

I can easily recreate by renaming node_modules\typescript\bin\tsc.js

[code]

[2014-11-21 13:22] #173 closed, assigned to nycdotnet

[2014-11-22 02:40] zpdDG4gta8XKpMCd opened #180 "Unable to override `declaration` flag in sub-tasks."
subj

[2014-11-22 02:48] #180 closed, assigned to nobody

[2014-11-22 05:25] #159 closed, assigned to nycdotnet

[2014-11-26 06:23] nycdotnet opened #181 "New Transform Idea"
I've been trying to get the qUnit npm package working with tests written in TypeScript, and I'm finding it somewhat frustrating.

Basically, the qUnit package wants to load your code for you, and if the tests try to directly require() your library, the tests won't actually run.

I needed a way to allow a line like this `import InsertRemapper = require("index");` to be in my TypeScript file (to get

[2014-11-26 17:52] #181 closed, assigned to nobody

[2014-12-01 14:37] vvakame opened #182 "grunt-ts can't detect --noImplicitAny error with TypeScript master/HEAD"
[code]

grunt-ts only checking exit code 1.
https://github.com/TypeStrong/grunt-ts/blob/master/tasks-internal/ts.ts#L243

FYI
https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines#diagnostic-message-codes
https://github.com/Microsoft/TypeScript/blob/9f0e85cb8e8409a9fbd89e0f00e45c7d61750c49/src/compiler/tsc.ts#L220-L255
https://github.com/Microsoft/TypeScript/blob/9f0e85cb8e8409a9fbd89e0f0

[2014-12-02 22:18] nycdotnet opened #184 "Unsupported compiler flags"
It appears that the following plausibly useful `tsc` compiler flags are unsupported by grunt-ts:

 * --noLib - does not load lib.d.ts when compiling the code (essentially allowing for referencing a custom lib.d.ts without conflicts).  Pass if set to true otherwise don't pass.
 * --codepage NUMBER - allows specifying a codepage when opening source files.  Pass if specified with a number, otherwise

[2014-12-04 14:54] sebas2day opened #187 "Transform export directory with interfaces"
If I have a file with the following I want to export:

[code]

With the 'ts:export' transformation, this doesn't work:

[code]

I get a syntax error: "Could not find symbol IUser_file".

[2014-12-05 17:04] #177 closed, assigned to nycdotnet

[2014-12-07 17:47] swook opened #189 "TS 1.3.0 does not work with failOnTypeError"
`tsc` now returns error codes which are not only 0 or 1 but also 2, 3, or 4.
I'm not sure what that number depends on, yet.

Consequently the `failOnTypeError` now fails.

This issue is created such that I can reference it in a pull request which fixes this issue.

[2014-12-09 21:22] ThaNarie opened #191 "Add "### Fast Compile >> .....ts" behind verbose flag, or add silent flag?"
Hi,

One of the usages of grunt-ts is to compile 'generated' typescript files by a task that rune before this so all code is valid js.

For example:

[code]

[code]

But because the output of grunt-ts is so 'long', as a user you are missing the output of the 'main' task (scaffold-pages).

It would be awesome if we can configure the verbosity of the task, either by putting this output behind the `v

[2014-12-12 11:21] eesdil opened #192 "grunt-ts compile only the changed file"
There are two possibility to compile the only changed files:
- using external watch
- using internal watch

I have issue with both of them.
With external watch the issue is that even though it knows the changed file, it compiles  all of them.

With external watch the issue is that I cannot run with concurrent task as it is stopping the external watch (watching html, js files ...)
The other issue i

[2014-12-20 05:48] #189 closed, assigned to nycdotnet

[2014-12-23 05:57] basarat opened #194 "Docs: Alternate compiler documentation"
you can drive the compiler used for TypeScript from your `package.json`. Documentation was here :

 https://github.com/TypeStrong/grunt-ts/blob/b13d823ab3fd02104df7d0d0db73a98411f6c47f/README.md#alternate-compiler-version

 Would be nice to have this documentation back (not urgently but just tagging for memory). A client emailed ;)

----

`grunt-ts` always ships (bundled) with the *latest* compile

[2015-01-06 22:24] trevj opened #196 "grunt-ts scans every file in the current directory on startup"
We've been using grunt-ts in our project for its fast recompile feature but we've noticed that it can take several seconds for grunt-ts to report that no files need to be compiled. This significantly reduces the usefulness of the fast recompile feature.

It seems that grunt-ts performs some sort of scan of every file in the current directory on startup. I didn't dig very deeply into it but `strace

[2015-01-06 23:02] #196 closed, assigned to nobody

[2015-01-07 02:10] nycdotnet commented on #196
No worries - thanks for the report.

[2015-01-09 18:25] bparadie commented on #182
Yes, `result.code !== 0` does fix this problem.
Please fix it, it's annoying!

Run this for locally patching `ts.ts`:
[code]

[2015-01-09 18:35] nycdotnet commented on #182
We fixed this in PR #190 but I guess I didn't update the tasks-internal?  @basarat is that required before push to NPM?

[2015-01-09 18:38] bparadie commented on #182
@nycdotnet Not sure how your deployment chain works. I just did a fresh `npm install` and that still had the bug. Also, this issue hasn't been closed  yet, which is probably also a sign that your fix hasn't landed yet.

But thanks for fixing this issue!

[2015-01-11 00:13] basarat commented on #182
Not required. Tasks-internal is *only* used in *our* compile i.e. compile `grunt-ts` TypeScript code to JavaScript.

[2015-01-18 06:03] nycdotnet commented on #175
Well - it's probably about time to get around to this, now that TypeScript 1.4 is out.  :-)
Assuming 1.4 compiles grunt-ts cleanly, I'll submit a PR for this ASAP.  I won't feel bad if people jump ahead of me to do it, though!!

[2015-01-20 18:16] DavidRigglemanININ opened #199 "Suggestion: replace uses of os.EOL with grunt.util.linefeed"
Currently, this plugin uses os.EOL as the new line character when generating new files (such as in reference.ts). This can cause problems in cross platform development and in source control management as the generated reference files will be different depending on whether they were generated on Windows or Linux/Mac. Grunt has the ability to optionally specify the line feed character (still default

[2015-01-20 18:19] nycdotnet commented on #199
Good point.  This would need to be referenced in the documentation as well.  If you want to submit a PR we'd be happy to accept it.

[2015-01-20 19:07] DavidRigglemanININ commented on #199
Should I update the files in tasks-internal? Reading comments from another issue, it looks like tasks-internal is used as the internal compiler you use to turn the grunt-ts typescript into javascript

[2015-01-20 21:32] iislucas commented on #77
@basarat thanks; that was the issue.

I still find this all a bit awkward... I think I have a suggestion for proposed behaviour that might help with this and a related issue:

I have my code in a directory called `src`. e.g. `src/arraybuffers/accumulater.ts` I want to compile it all into `build` to get output of  `build/arraybuffers/accumulater.js`. In the shell, I can do this by a `cd src && tsc

[2015-01-20 22:31] basarat commented on #199
no need. Your understanding is correct. It will automatically get updated the next time we run `grunt update` to update the LKG. Looking forward to the PR!

[2015-01-20 23:24] basarat commented on #77
@iislucas you can specify `baseDir` in options. It is same as effectively `cwd`.

[2015-01-21 00:06] iislucas commented on #77
Great! Probably good to add it to the README: I did a search there (in the readme), but the only occurrence of the string `baseDir` seemed to be unrelated, about the .baseDir.ts file

[2015-01-21 00:19] iislucas opened #201 "setting baseDir causes mysterious errors"
Using grunt-ts 2.0.1...

When I try setting `baseDir` in a build rule (as suggested here: https://github.com/TypeStrong/grunt-ts/issues/77#issuecomment-70755676 ) I get lots of strange grunt-ts compilation errors... e.g. here's example output:

[code]

[2015-01-21 00:19] iislucas commented on #77
Actually, that doesn't work for me, issue filed here: https://github.com/TypeStrong/grunt-ts/issues/201

[2015-01-21 01:21] basarat commented on #201
think you need to exclude `node_modules` see example gruntfile: https://github.com/TypeStrong/grunt-ts#getting-started it is a bit unfortunate. I hope to come up with guidance around TypeScript project organization + templates at some point.

[2015-01-21 04:13] iislucas commented on #201
Oh, I see, the `baseDir` is not like `cwd` command in that it doesn't change directory before the file matching...

The directory layout I have is:
[code]

[2015-01-21 04:39] basarat commented on #201
@iislucas `baseDir` is a *target* option, not a *task* option.

@TypeStrong/owners I feel like removing all `target` options and making *everything* a `task` option, just to remove this random ambiguity.

[2015-01-21 05:26] basarat opened #202 "Support tsconfig.json"
More about this coming change : https://github.com/Microsoft/TypeScript/issues/1667

Need ideas. Perhaps a `project` target option to point to `tsconfig.json` file will cause the `src` / other compiler options to be driven by `tsconfig.json`?

[2015-01-21 05:45] iislucas commented on #201
@basarat : I think I am specifying it as a target option above (the task options would be directly under `ts`) ... `dev` is the target. That not right?

[2015-01-22 01:22] basarat commented on #201
@iislucas no a target option is directly under `dev`. `options` at the root or `options` under a target are called `task` options. I know its ugly but its grunt's design.

[2015-01-22 04:42] nycdotnet commented on #199
Merged.  Thanks very much @DavidRigglemanININ .  Great first PR.

[2015-01-22 04:42] #199 closed

[2015-01-22 05:08] nycdotnet commented on #182
@vvakame and @bparadie Thanks for reporting this.  I am sorry that it took me so long to reply.  I believe that this is actually fixed correctly in PR #190.  I didn't update "tasks-internal" as part of that PR, but it is not strictly necessary.  If you are still having a problem while using v2.0.1, I think you may be seeing that grunt-ts will (by default) halt the Grunt build pipeline in the prese

[2015-01-22 05:08] #182 closed

[2015-01-22 05:23] nycdotnet commented on #194
I believe that I fixed this in #204.  Please re-open if you disagree (or fix the language if I've made it worse).  Thanks Bas.

[2015-01-22 05:23] #194 closed

[2015-01-22 16:12] iislucas commented on #201
So options under the options value of a target are called task options. sigh... But thanks for clarifying!

So If I'm understanding correctly, you're saying this config should avoid generating the `build/src`, and directly put subdirectories into of `src/*` into `build/*`:

[code]
However, trying this also does not work: I still end up with output in: `build/src/d1/foo.ts` instead of `build/d1/foo

[2015-01-22 16:34] iislucas commented on #201
OK, one more update... when I do the same thing but specify a single `src` file, I do get compilation output going into the expected directories. e.g. this works:

[code]

It does indeed output files to 'build/foo/' and not 'build/src/foo/', but when I specify multiple src files, they annoyingly appear in  'build/src/foo/'... a bug?

[2015-01-22 17:36] fdecampredon opened #205 "preserveConstEnums"
1.4.1 add a new flag preserveConstEnums, it would be cool if it could be supported

[2015-01-22 18:33] nycdotnet commented on #205
Agreed.  I intend to upgrade grunt-ts to support all the new 1.4 features (and include 1.4 natively) in the next week or so.  There are a lot of new switches in 1.4.  In the meantime, PRs accepted.  :-)

[2015-01-22 23:37] basarat commented on #201
Possibly a bug. can you tell me the `src` exactly so I can reproduce (.e.g is it `src: ['src/foo/main.ts','src/foo/d1/second.ts'],`)

[2015-01-26 06:10] soernt commented on #175
I 'am facing the problem that the angularjs.TypeScript.DefinitelyType package contains features of TypeScript 1.4. They start using union types.
Is there any estimation when grant-ts supports TypeScript 1.4? By the way: I love grunt-ts.

[2015-01-26 06:33] nycdotnet commented on #175
FYI: it supports it today via a custom compiler.  It should only take a few minutes for you to set up.  See here: https://github.com/TypeStrong/grunt-ts#compiler

The trouble is that it won't pass in the new switches.  As long as the power stays on with this big blizzard in New York, I should hopefully have grunt-ts updated to 1.4 in a week or so.

[2015-01-26 16:51] iislucas commented on #201
It's a little unclear what causes this behavior to sometimes happen, e.g. in this project:
https://github.com/uProxy/uproxy-lib/tree/iislucas-gruntts-bugtest
It always happens for `ts:dev`, but not for `ts:copypasteFreedomChatMain`.
I created a new simple target with 3 files, but for that case grunt-ts operates fine w.r.t. baseDir. So I'm not sure what about the `ts:dev` target is causing the prob

[2015-01-29 04:38] iislucas commented on #201
OK, I figured this out: the problem is when some referenced source lives outside of the baseDir, e.g. when compiling (with `baseDir: 'src'` and `outDir: 'build'`):
[code]
and `src/d1/foo.ts` contains a require to pull in something from `third_party/bar.ts` then generated output lives within an extra subdirectory `src`, i.e. `build/src/`, even if `baseDir` was set to `src`. I think in this case, it

[2015-01-29 06:00] basarat commented on #201
Awesome!

[2015-02-02 04:16] nycdotnet commented on #175
Update - I'm working on this now.  Not quite finished yet, but it should be soon.

[2015-02-02 06:25] soernt commented on #175
Sounds great.

[2015-02-04 04:01] nycdotnet commented on #175
In-progress.  It's working on 1.4 and all tests are passing.

https://github.com/nycdotnet/grunt-ts/tree/update-to-1.4.1

I've got to get the new switches implemented now.

[2015-02-04 04:23] basarat commented on #175
tip feel free to work on a feature branch locally `TypeStrong/grunt-ts` e.g. `feat/upgrade-to-1.4.1`

[2015-02-04 04:38] nycdotnet commented on #176
Should be fixed in 6d7742e544aea9c352a9e152f20081df69e2a6ec.

[2015-02-04 04:38] #176 closed

[2015-02-04 04:39] nycdotnet commented on #175
ok will do for next time.

[2015-02-04 15:39] distinctdan opened #207 "Can't get '///ts:ref=_references'.ts to work"
I've got a ts project and I'm trying to get the autogenerated references transform to work, but it always says "/// No file or directory matched name "_references.ts" ///ts:ref:generated". My directory structure looks like this:

source ->
&nbsp;&nbsp;&nbsp;&nbsp;_references.ts
&nbsp;&nbsp;&nbsp;&nbsp;app ->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;foo.ts

In foo.ts I've got the comment "//

[2015-02-04 23:20] basarat commented on #207
@distinctdan does `src` contain something that would match `/sources/_references.ts`. Can you show us your grunt config.

[2015-02-05 03:54] nycdotnet commented on #205
Implemented in 01f239d5791227241b4d389b4cf955f81e27e744 .  PR #206 Will be pushed to npm in a few days unless I hear of any issues.

[2015-02-05 03:54] #205 closed

[2015-02-05 03:58] nycdotnet commented on #175
Pull Request #206 is complete.  Please take a look.  I'll merge it into master and push to npm as version 2.1.0 in a few days if I don't hear anything.  Thanks all!

[2015-02-05 13:14] nycdotnet commented on #192
@basarat Now that you're more familiar with the TypeScript language services, do you think a good goal would be to implement the watch functionality that way and deprecate the current "fast" functionality?

@eesdil Is your issue resolved when using TypeScript 1.1 or higher with the updated Chokidar?

[2015-02-05 13:18] nycdotnet commented on #107
Hi @raDiesle - we've significantly improved our documentation since this issue was reported.  I hope that there are sufficient examples of `gruntfile.js` so that others should not run into this problem.  Thanks for the report.  I'll close this now.  Please let us know if you have any further issues.

[2015-02-05 13:18] #107 closed

[2015-02-05 13:20] nycdotnet commented on #27
@jeffmay Did you ever figure this out?

[2015-02-05 13:22] eesdil commented on #192
yes, sure, with the Chokidar update it is fine. Thank you.

[2015-02-05 13:27] nycdotnet commented on #192
Excellent - thanks for the report.

[2015-02-05 14:55] distinctdan commented on #207
Hmm, nope, src isn't matching _references. Maybe should I add it?

Heres my config:

[code]

[2015-02-05 17:07] jeffmay commented on #27
Nope. I don't think this is the right direction to go anymore. The grunt-ts folks have worked out a solution to make compilation faster using decoupled modules. This is a better approach.

[2015-02-05 17:07] #27 closed

[2015-02-05 17:12] mtraynham opened #208 "HTML templates for external modules"
What's the proper way to go about this?

[2015-02-05 23:28] basarat commented on #207
Yup. `///ts:` transforms only work for files that match in `src`. Let us know if you still have issues :)

[2015-02-05 23:28] #207 closed

[2015-02-05 23:32] basarat commented on #192
No. Various reasons:
*  Sadly `grunt-ts` is designed to work well with `grunt-contrib-watch`. This means that we get Loaded and unLoaded from memory based on how `grunt-contrib-watch` calls us. Language service speed ups are only awesome if we keep it in memory.
* Supporting multiple compiler versions with conflicting language service api will be difficult. We support many compilers because of sim

[2015-02-06 13:00] hdachev opened #209 "Typescript 1.4"
Hey guys, any plans on upgrading the bundled compiler?
Let me know if and how I can help with catching up with tsc versions.
As far as I know the problem is with error codes having changed since 1.0.1, correct?

[2015-02-06 23:09] basarat commented on #209
Thanks @hdachev! @nycdotnet already did all the work : https://github.com/TypeStrong/grunt-ts/pull/206

I just pushed to npm as `v3.0.0`. Let us know if you find any issues :+1:

[2015-02-06 23:09] #209 closed

[2015-02-06 23:14] hdachev commented on #209
Thanks, great work guys!

[2015-02-09 18:12] distinctdan commented on #207
It works! Thanks for the help :) .
By the way, it may be a good idea to add a note to the docs in case other people have the same confusion.

[2015-02-11 22:21] nycdotnet commented on #175
1.4.1 merged.

[2015-02-11 22:21] #175 closed

[2015-02-12 02:20] nycdotnet commented on #207
@distinctdan I updated the docs for `reference`.

https://github.com/TypeStrong/grunt-ts/blob/master/README.md#reference

Thanks for the report.

[2015-02-12 07:07] soernt commented on #175
Thank you! Works fine :-)

[2015-02-22 21:54] Linowitch opened #211 "Argument module cannot be """
Hi,

If I set the option module to "" I get the following error. If the option module is set to "" the compile argument --module should be omitted.

Compiling...
Using tsc v1.4.1
error TS6046: Argument for '--module' option must be 'commonjs' or 'amd'.

[2015-02-25 00:45] iislucas commented on #201
I've updated the description; we can probably now remove the confused comments :-)

[2015-03-02 03:13] nycdotnet commented on #208
Sorry for not having replied sooner.  I haven't used this with external modules.  It's not how it was designed, though I suppose it wouldn't be too hard to implement as a feature.

@basarat - what do you think?

[2015-03-02 03:34] basarat commented on #208
@mtraynham there isn't a way to do this right now. You would need the word `export` before `module` here : https://github.com/TypeStrong/grunt-ts/blob/master/tasks/modules/html2ts.ts#L29

This could perhaps be an additional customization on top of what we have currently : https://github.com/TypeStrong/grunt-ts/blob/master/docs/html2ts.md#control-generated-typescript-module-and-variable-names (cust

[2015-03-07 18:58] nycdotnet opened #213 "Support for Visual Studio project files"
I've created an npm module called `csproj2ts` that will interrogate a Visual Studio project file (.csproj or .vbproj) for its TypeScript configuration.  I propose updating grunt-ts to use this library to allow using the config inside a project.  Here is a minimalist gruntfile using this proposed functionality:

[code]

This will allow a very smooth transition to using grunt-ts for users of Visual

[2015-03-07 23:14] basarat commented on #213
:+1: you :metal:

[2015-03-08 16:33] nycdotnet commented on #213
This is PR #215.  Let's discuss there.  I will need some help.

[2015-03-19 18:31] henkkuli opened #216 "Fast compilation with third party amd dependencies"
Hi!

I am trying to use fast compile to compile a project with third party amd dependencies. I am using the following file layout:
[code]
My configuration:
[code]
src/a.ts:
[code]
On the first time the compilation works just fine: it can trace `jquery` to `lib/jquery.d.ts` because it is defined as source. But on the second time, when I have just edited `src/a.ts`, the compiler can't find `jquery`

[2015-03-20 08:12] basarat commented on #216
:+1:

For now you need to manually `<reference` them. You can use transforms to help you : https://github.com/TypeStrong/grunt-ts#transforms. Just put all the definitions in a `vendor.d.ts` and reference that .d.ts

Note: shameless plug : but meant in sincerity : https://github.com/TypeStrong/atom-typescript/ does a better job of fast compiling thanks to a) being in memory for the entire duration.

[2015-03-24 16:02] nycdotnet opened #217 "Ignore same-name definitions"
It would be nice to have an option to ignore same-name definitions.  For example, consider the following default gruntfile.js with the `declaration` option enabled:

[code]

Assuming there is a file called `foo.ts`, this will work fine the first time it is called and compile `foo.ts` to `foo,js`, `foo.js.map`, and `foo.d.ts`.  However, the second time it runs, the glob will capture both `foo.ts` a

[2015-03-25 19:29] nycdotnet opened #219 "Should warn if `reference` is used with `files`"
If `reference` is used with `files`, it fails silently.  Should provide a warning that this is not supported.

[2015-03-27 15:14] paulgambrell opened #220 "Since 4.0.0 grunt-ts ignoring templated parameters in 'out' string"
Now getting this error:

Running "ts:build" (ts) task
Compiling...
Cleared fast compile cache for target: build
Fast compile will not work when --out is specified. Ignoring fast compilation
Using tsc v1.4.1
error TS6053: File '%>/<%=.ts' not found.
error TS6054: File '%>.js' must have extension '.ts' or '.d.ts'.
error TS6054: File 'pkg.company' must have extension '.ts' or '.d.ts'.
error TS6054: F

[2015-03-27 17:03] nycdotnet commented on #220
Thanks for the report.  Will investigate this evening.

[2015-03-27 18:26] JoeFirebaugh commented on #220
I can confirm the same behavior, FWIW.  :)

[2015-03-28 00:34] #220 closed

[2015-03-28 00:42] nycdotnet opened #221 "Shorten readme.md to fit on npm about page."
Not everything fits:

https://www.npmjs.com/package/grunt-ts

[2015-03-28 00:54] nycdotnet commented on #213
Implemented in 4.0.0 and 4.0.1.

[2015-03-28 00:54] #213 closed

[2015-03-28 00:55] nycdotnet commented on #220
This should be fixed - please re-open if not.  Thank you for the report.  I added you both to the Change Log.

[2015-03-29 13:09] nycdotnet opened #223 "Clean up npm and commits workflow"
Right now we check-in both the .ts changes and the .js changes.  I think this is just for npm, but I could be wrong.  Maintaining both in the source repository means that our commits are bigger and more mentally taxing than necessary.

I'd like to propose that we add a new Grunt task like `grunt npm` to package up everything necessary to publish grunt-ts in a new publish folder.  That would be the

[2015-03-29 15:43] nycdotnet opened #224 "Improve documentation on how Pull Requests should be submitted"

[2015-03-30 02:00] basarat commented on #223
Almost. Its also used in travis.

:+1: I've wanted to do this but didn't have the time. For reference @Bartvds has already done this for `tsd` : https://github.com/DefinitelyTyped/tsd/ Basically with:

* git Ignoring `/build` : https://github.com/DefinitelyTyped/tsd/blob/dev/next/.gitignore#L7
* a `prepublish` script : https://github.com/DefinitelyTyped/tsd/blob/dev/next/package.json#L45  does a `

[2015-03-30 10:03] paulgambrell commented on #220
Thanks, will try it out as soon as github recovers fully from their attack, still getting timeouts on bower runs here

[2015-03-30 11:56] JoeFirebaugh commented on #220
I just tried it this morning, works fine again.  Thanks for a quick fix Steve!

[2015-03-30 13:41] nycdotnet commented on #220
w00t.

[2015-03-31 21:39] BerndWessels opened #225 "outDir not working ?"
Hi
I have the following grunt task - but when I run it it creates the compiled js and map files in the specified outDir AND ALSO in the original path next to the ts files. But I don't want them next to my ts files.

        ts: {
            default: {
                src: ["client/**/*.ts"],
                html: ["client/app/**/*.html"],
                outDir: "client/.app"
            },

[2015-03-31 21:43] nycdotnet commented on #225
What happens if you call `grunt ts:default` ?

[2015-03-31 21:44] BerndWessels opened #226 "html2ts does not pass tslint + possible fix"
Hi
The current output from html to ts files is not clean and does not pass tslint.

Can you please change html2ts line 29 to

    var htmlTemplate = _.template(
        '/* tslint:disable:max-line-length */\n' +
        'module <%= modulename %> {\n' +
        '\'use strict\';\n' +
        '  export var <%= varname %>: string = \'<%= content %>\';\n' +
        '}\n');

and line 47 to

    htmlCont

[2015-04-01 20:59] BerndWessels commented on #225
Yes, that only outputs it to the correct directory. I am a bit confused how it could have succeeded without the typings, but anyway it works.
Cheers
Bernd

[2015-04-01 20:59] #225 closed

[2015-04-01 21:08] nycdotnet commented on #225
Good.  Run `grunt ts:default --verbose` and see if it references the definitions.  If not, do you have any triple-slash references to the definitions in your TypeScript files themselves?

[2015-04-04 02:45] nycdotnet commented on #226
Thanks for the suggestion.  I'll take a look at this next week.

[2015-04-04 02:46] nycdotnet commented on #223
When you say you want to set it up with tooling - can you elaborate?  Is this some new alchemy?

[2015-04-04 03:34] basarat commented on #223
Something like a project generator.

[2015-04-07 12:38] Vadorequest opened #229 "Improve documentation about options"
It's not clear how the options should be set.

It the doc, there is column `where to define` but it's confusing (I just saw it after an hour reading that doc).

Wouldn't it be better to have two tables, one with the "options" to define in the `target` and one in the `options` ? Btw, the column `where to define` should have `target` and `options`, with a `s`, not just `option`, it is also confusing

[2015-04-08 00:18] nycdotnet commented on #229
We did a major rewrite of the documentation a few months ago and it's a lot better than it was, but I agree that this could still be improved.

What would you think of changing that table to something like this?  Is that better?  I already link to the example, but it's probably not obvious.

|property|description|
|:----|:-----|
|[comments](#comments)|`true`, `false` (default) - include comments i

[2015-04-08 00:19] davidpricedev opened #230 "grunt-ts still using typescript v1.0.1?"
I've been using grunt-ts for a while now and I love the management of the reference file that it provides. The fact that grunt-ts pulls its own version of the tsc compiler which is quite a bit behind the latest version of typescript available via npm is starting to become an issue. I'm also using tsd to keep my d.ts files up to date, and this causes grunt-ts to fail to build anything because all t

[2015-04-08 00:26] nycdotnet commented on #230
We upgraded to 1.4.1 several months ago.  Are you on the latest grunt-ts?  Check your package.json file - you might be pinned to the 1.x major version.  4.0.1 is the latest.  https://www.npmjs.com/package/grunt-ts

[2015-04-08 00:27] nycdotnet commented on #230
Also - I don't believe that Windows environment variables are supported in Grunt globs though that would probably be good to support for us since we do have a more Windows-oriented audience.

[2015-04-08 08:16] Vadorequest commented on #229
I tink the current way is fine, just split it into two differents tables, just so it's clear what should be where. Also add a full example with all options set would be great, I think.

[2015-04-08 13:02] basarat commented on #229
There are a lot of options not all which can be set together (e.g out and module are really exclusive)

[2015-04-08 13:08] Vadorequest commented on #229
True, but still, an example with all settings with default values would
work :)​
All options can be set at the same time even though they can't be enabled
at the same time.

And it would make it much easier, just copy/paste the whole stuff and
change what we want to custom.

[2015-04-08 14:05] nycdotnet commented on #229
We could probably do this, but I'm not convinced it would actually be better.  I think that pushing our current main Gruntfile and the sample one might better serve the users.

[2015-04-08 14:44] Vadorequest opened #231 "Generate definition files in a custom folder"
Following the current way to config my project:

[code]

If I set `declaration: true`, they are generated in my `outDir` folder, which is not good for me since this folder is a temporary folder. I would rather need to move them into a specific directory, either the source directory or another one.

What do you think?

[2015-04-14 19:33] #230 closed

[2015-04-15 02:44] nycdotnet commented on #226
What do you think of #233 ?

I left off the "use strict" as I'm not certain I see the point.  Is that really helpful in this scenario?

I don't think we can realistically implement the edits you've asked for on the HTML content - that can be done by other libraries that are specialized for that purpose (though I think we could make it easier to plug in something to assist with that).

[2015-04-20 16:14] ben8p opened #234 "maybe "html" is not the best name for in-lining functionality"
The functionality html to ts can be used with anything that needs to be in-lined as a string.
for instance, I use it to inline some copyright notice, some css, but it's limitless.

So I though maybe this could be renamed to a more generic name.

[2015-04-22 15:03] olegccc opened #236 "Error: not found: node"
Windows:
when I execute grunt-ts from Maven using frontend-maven-plugin, it compiles typescript ok, but if I run it directly from grunt, I receive the error specified in the subject:

Running "ts:default" (ts) task
Compiling...
Using tsc v1.4.1
Error: not found: node

The problem is in compile.js file. If I change executeNode to the following code, everything starts to work:

[code]

[2015-04-24 02:10] basarat commented on #236
My Suspicion: This is because of `$path` inheritance. If the containing process's `path` doesn't have the path to `node` then the child process will not have it either. Starting a new `cmd` instance is fixing it.

Please answer the following:
* Have you tried closing and reopeing the window where you are running `grunt`.
* Also check if you can execute `node` in that window.

:rose:

[2015-04-25 08:07] olegccc commented on #236
- yes, I tried and it did not nelp. Actually I did many different things to try to understand.
- yes it runs ok.

I have nodejs installed locally and accessible by path.
Frontend-maven-plugin downloads nodejs copy by itself and uses this copy instead of the installed one.
When I run grunt by myself, it uses nodejs installed on my computer, not the copy downloaded by the maven plugin.

The trick I

[2015-04-25 19:39] nycdotnet commented on #236
I suppose we could add a switch to allow "shelling out" to `cmd` as @olegccc has suggested works, but clearly we can't make this the default since it would affect our cross-platform story.  I'll think about this.  I'm glad you've got a workaround for now.

[2015-04-30 08:32] SergioMorchon commented on #202
+1, need this!

[2015-05-01 02:40] nycdotnet commented on #234
Hi @ben8p,

Thanks for submitting this issue.  I think you're right that we could be clearer on this, but I don't want to change the API at this point.

I wonder if we could make this clearer in the documentation.  Would you be willing to submit a PR for the docs including an example of using this feature for a copyright notice or CSS?

Thanks for the suggestion.

[2015-05-01 02:44] nycdotnet commented on #211
This was fixed and merged.  Thanks!

[2015-05-01 02:44] #211 closed

[2015-05-01 02:57] nycdotnet commented on #231
Hi @Vadorequest ,

I thought about this a bit, and while I think it could be useful, I think this might be a bit out of scope for grunt-ts.  This sounds like a great use for [grunt-contrib-copy](https://github.com/gruntjs/grunt-contrib-copy) or a similar plugin to run after the TypeScript compile step.

Thanks very much for writing up this issue.

[2015-05-01 02:57] #231 closed

[2015-05-01 08:40] Vadorequest commented on #231
I see, I still think it should be an option inside grunt-ts module, but it
is doable through grunt-contrib-copy indeed.

Thanks.

[2015-05-06 21:24] ryanthomas840310 commented on #236
I use local node instances in my boilerplates as well. I fixed this by changing cmd: 'node' to cmd: process.execPath

[2015-05-07 00:21] nycdotnet commented on #236
Ryan - thanks for submitting this.  I will take a look this evening.

[2015-05-07 00:23] #234 closed

[2015-05-07 01:45] nycdotnet commented on #226
Hi @BerndWessels - I've merged this PR.  Thanks for your suggestion.  I think it's a good one.

[2015-05-07 01:45] #226 closed

[2015-05-07 17:40] RyanThomas73 opened #241 "Unable to disable grunt-ts watch feature."
I'm unable to find in the documentation (or through testing with variations of the fast and watch options) a way to disable grunt-ts watching the source files.

Is there an option configuration to do this or do I need to begin creating one?

[2015-05-07 19:51] nycdotnet commented on #241
CTRL+Break should do it - or is this not what you're asking?  If you don't want the `watch` behavior, you can just not specify it in the task config in your Gruntfile.

[2015-05-07 19:53] nycdotnet commented on #236
Should be fixed in #240 which will be a part of the next grunt-ts release.

[2015-05-07 19:53] #236 closed

[2015-05-08 07:46] awn70 opened #242 "vs option ignores common PropertyGroups"
Hi,
the ```vs``` option seems to ignore common PropertyGroups in the njsproj file.
This will be ignored:
[code]
This is working:
[code]
Is it a bug?
Regards
Andreas

[2015-05-08 14:18] RyanThomas73 commented on #241
Hi Steve,

My apologies for the misunderstanding. This issue can be closed. I thought grunt-ts was automatically watching the .ts files and compiling them without the watch option being set to anything but the culprit was Visual Studio. I didn't realize it's compile .ts files on save defaulted to true.

Cheers,
Ryan Thomas

[2015-05-08 14:18] #241 closed

[2015-05-08 14:19] nycdotnet commented on #242
Hi Andreas.  I'm so glad someone is using the new `vs` feature in the wild, and with a Node.JS tools project too!  This is likely a bug in the csproj2ts library that we use.  I'll look into it.  Thanks for the report.

[2015-05-08 22:05] Alxandr opened #244 "Support emitDecoratorMetadata"
Please support the `--emitDecoratorMetadata` flag.

[2015-05-08 22:45] nycdotnet commented on #244
Thanks for the suggestion.  We will update for TypeScript 1.5 soon.

[2015-05-09 04:43] nycdotnet commented on #242
Hi - would you do me a favor and edit the package.json inside grunt-ts to reference csproj2ts version 0.0.3, and then run `npm install` to update it?  I just pushed a fix to npm that should hopefully address this issue.  Let me know if not.  Thanks!

[2015-05-09 10:07] smfeest opened #245 "grunt-ts 4.0.1 ignoring templated parameters in 'reference' option"
This looks like a similar issue to #220 but affecting the 'reference' option instead.

Since upgrading to 4.0.1 (from 2.0.1) the following configuration:
[code]
Results in a 'cannot create directory <%= appTsSource %>' error.

Replacing the <%= appSource %> tag in the 'reference' option with a literal path (but leaving the tags in 'src' and 'out' fixes the problem).

[2015-05-09 12:58] nycdotnet commented on #245
Thanks for the report.  PR #235 proposes to address this but I'm doing some deeper analysis because this was supposed to be among the fixes in 4.0.1 already.  I should have time this weekend to resolve.

[2015-05-09 19:27] nycdotnet commented on #245
Should be fixed in #235.  I will push to npm soon.  Thanks!

[2015-05-09 19:27] #245 closed

[2015-05-11 07:05] awn70 commented on #242
Hi,
it's working now, thanks!
Andreas

[2015-05-11 07:05] #242 closed

[2015-05-13 17:24] oliverw commented on #244
@nycdotnet Any ETA for the TS 1.5 update?

[2015-05-13 18:01] nycdotnet commented on #244
I've been working on it at night when I have time.  Should be in the next week or so.

In the meantime, you can use a custom TypeScript compiler by following the [instructions here](https://github.com/TypeStrong/grunt-ts#compiler), or just update the reference to TypeScript in your `package.json` to `1.5.0-beta` and re-run `npm install`.

In the downloaded grunt-ts folder in `compile.js`, around l

[2015-05-13 18:14] nycdotnet commented on #244
I should probably add that the reason this takes a long time is mainly because I want to make sure the tests all still pass and are correct after the compiler upgrade.

Each time we change the underlying TypeScript compiler version, we have to go back though all of our tests to make sure that the changes to the emitted JS are valid based on the parameters we pass (since the TypeScript team doesn't

[2015-05-13 23:57] basarat commented on #244
Please. Thank you so much :rose: :tada: :gift:

[2015-05-19 04:41] nycdotnet opened #247 "Rationalize Unit Tests"
There are several problems with the current set of tests for grunt-ts:
  1. Many of the tests used by grunt-ts are full integration tests.  While these are effective (and they are good for testing things like editing files on disk), they are quite slow to run in aggregate.
  1. Several of the tests really are just checking that the correct parameters are passed to `tsc` - a full compile cycle shou

[2015-05-19 05:47] basarat commented on #247
Perhaps an external test (using something like `process.exec`) that runs these grunt task and asserts that they fail (error code) would be better.

[2015-05-19 06:14] nycdotnet commented on #244
FYI: `--emitDecoratorMetadata` is working now in https://github.com/TypeStrong/grunt-ts/pull/246

[2015-05-19 06:41] nycdotnet opened #248 "Inconsistent implementation of task-level configuration"
It seems that target-level options always override task level options for some properties.  Need to fully audit this and implement tests.

[2015-05-19 14:26] nycdotnet commented on #247
That's a good idea.  I'm wondering if we can do any sort of hacky parallelization if we're shelling out to multiple external processes anyway.

What do you think about putting a `gruntts` property on the task or even on grunt itself for metadata?We could use it for tracking warnings raised, exceptions, etc.  Or maybe the better way forward is just to pass in a mocked Grunt object and assert the pr

[2015-05-20 00:00] basarat commented on #247
Perhaps call it `externaltest` similar to `test` (which will continue to function as they are now).

^ this would be ideal. But I suspect a lot of work.

We have two proposals now. Pick either :D

[2015-05-20 02:35] scriby commented on #50
+1

I think you can do something like this:

[code]

[2015-05-22 09:18] home-automation-community opened #250 "Support for TypeScript 1.5/latest module kind output options 'umd' and 'system'"
grunt-ts allows to use the latest TypeScript 1.5 beta compiler with the 'compiler' option. However, compiling with option 'module': 'umd' breaks with the message: 'WARNING: Option "module" does only support "amd" | "commonjs"'

The file modules/compile.ts should be modified to allow 'umd' and 'system' module kinds.

[2015-05-22 10:50] nycdotnet commented on #250
We're working on it. In the meantime feel free to search for that error text.  It should hopefully be fairly straightforward to delete that check.

[2015-05-22 15:07] getvega commented on #202
+1 !

[2015-05-22 15:47] nycdotnet commented on #202
I've been thinking about this.  There are a few different ideas I've had.  They are not necessarily mutually exclusive.

**Idea 1:** Provide `tsconfig.json` support similar to the existing `vs` support - i.e. whatever is in `tsconfig.json` gets passed to `tsc` using the normal switches, but allow overrides in the Gruntfile.

Example for Idea 1:

[code]

**Idea 2:** Management of `files` property -

[2015-05-23 13:45] getvega commented on #202
I would lean towards your Idea 2 with updateTSConfig as I am using [SublimeText TS](https://github.com/Microsoft/TypeScript-Sublime-Plugin) which has quite limited `tsconfig.json` support ftm.
IMHO having grunt-ts centralize the fileglob settings seems like the way to go, as that would mimic what we already do with other preprocessors.

[2015-05-24 01:05] basarat commented on #202
:+1: on idea 2. Recommend:

[code]

People that are using `filesGlob` should be able to just copy that setting into `src`. Otherwise `files` will be kept up to date by atom-ts. Till `filesGlob` becomes standard its more of just an `atom-ts-filesGlob-hack` thingy, for `grunt-ts` src is the appropriate point for this hack :)

[2015-05-27 12:11] Linowitch opened #251 "Compiling into a single file not possible with the files Array/Object"
Rather this
[code]
nor this
[code]
is setting the -out switch for the compiler as in the description explained.
Only if I'm using the options out it is working, but then I would have to setup one subtask per file...

Bests,
Sascha

[2015-05-27 15:17] nycdotnet commented on #251
You're absolutely correct.  This is broken and our tests didn't pick it up.  Very sorry - will resolve ASAP.

[2015-06-01 18:21] ryanwalls commented on #202
Would really love to have this feature.

[2015-06-01 19:06] gCardinal opened #252 "Is it possible to specify which module to import from with Transforms?"
Couldn't find it in the documentation or by digging a bit in the source code; is it possible to specify which file to import when setting up our transforms?

Say I have a `Contact` file for a controller in `app/controller/` and a `Contact` object for my routing in `app/routes`. It'd like to be able to tell grunt-ts to import not the controller but the route. Something like `ts:ref=routes.Contact`.

[2015-06-02 05:41] basarat commented on #252
Not at the moment. File names need to be be unique.

If someone can doc this it would be great :rose:

[2015-06-02 14:40] mtraynham opened #253 "Cannot compile with decorators (tsc master)"
This happens if you point the compiler at `master` checkout.

Usage of decorators now throws a warning:
https://github.com/Microsoft/TypeScript/pull/3330

Can I just suggest that instead of/along with adding another flag, we also allow add a configuration object for CLI arguments.  That would allow us to circumvent future incompatibilities.

Note, you cannot add arguments to the compiler option.

[2015-06-02 14:42] gCardinal commented on #252
Alright, thanks for the answer, I'll try and work around it for now.

Knowing that it's not possible though, isn't it something that would be useful? It's far from far-fetched to imagine a scenario where there are multiple files with the same name in different modules.

[2015-06-02 15:46] nycdotnet commented on #253
This is working in this branch.  https://github.com/TypeStrong/grunt-ts/tree/update-to-typescript-1.5.0-beta

I have been super busy at home so I haven't yet finished implementing everything yet.  Please reply in #246 .

[2015-06-02 15:46] #253 closed

[2015-06-03 02:33] nycdotnet commented on #251
I just pushed version 4.1.1 - will you check it out and let me know if you agree that this is resolved.  Thanks for the report and sorry for the regression.

[2015-06-03 22:26] seanmailander commented on #251
The changes in 97ad3999847b0cc7e8d78ac8e1ef99f24284fde5 broke the tsc command when paths include spaces.
For our configuration:
 - Previously utilised target.out, which is a relative path
 - Now uses outFile, which is absolute

Assume something like this is needed:

[2015-06-04 02:19] nycdotnet commented on #251
@seanmailander - thanks for the report.  I just pushed 4.1.2 to npm - would you please take a look?

[2015-06-04 02:56] nycdotnet opened #255 "Globs are evaluated before transforms are run"
This means the first time a new HTML file is transformed to a .ts file, it won't be included in the compile step.

[2015-06-04 15:59] seanmailander commented on #251
@nycdotnet looks-great-runs-great, thanks!

[2015-06-04 16:12] nycdotnet commented on #251
Glad to hear it.

@Linowitch - thank you for the original report.  I think things are fixed so I am going to close this issue.  Please let me know if it is not fixed for you.  Thanks!!

[2015-06-04 16:12] #251 closed

[2015-06-05 13:57] nycdotnet opened #256 "Improve docs for --noResolve"
@mhegazy identified what this does here and apparently it's not deprecated, just not well-documented: https://github.com/Microsoft/TypeScript/issues/2932#issuecomment-96791438

[2015-06-05 22:19] mhegazy commented on #256
All compiler options are documented in this page:
https://github.com/Microsoft/TypeScript/wiki/Compiler%20Options

I do no think there is much to say about `--noResolve` other than that:) feel free to send PRs to update documentation .

[2015-06-06 20:11] dbeckwith opened #257 "Single output file not working."
I'm having an issue with the --out parameter option that's supposed to output everything into one file.
In my `Gruntfile.js`, in `grunt.initConfig` I have this configuration:
[code]
So it should output to `build/main.js` right? But instead all I get is a blank file called `main.js` and each individual file gets compiled in its source folder. For example, I have these files:
[code]
and I end up wit

[2015-06-07 00:48] nycdotnet commented on #257
What version of grunt-ts do you have?

[2015-06-07 00:52] dbeckwith commented on #257
4.1.2

[2015-06-07 01:45] nycdotnet commented on #257
I just created a brand new folder, did `npm install grunt-ts`, and set up `src/test.ts` and `lib/bla.ts`.  When I compile using the below Gruntfile.js by running `grunt` (to get the default), grunt-ts seemingly works correctly by compiling the code in `bla.ts` and `test.ts` to `build/main.js`.

This is the entirety of the Gruntfile.js I just used to test:

[code]

Would you please run `grunt --ver

[2015-06-07 01:52] nycdotnet commented on #256
@mhegazy Forgive me - I should have said "wasn't previously well documented" - that new page is great but I don't think it existed yet when I revised the grunt-ts docs several months ago.  Thanks for taking the effort.  While I do try to stay up to date by following the threads, I *love* the wiki and it's awesome that the team has done such a great job keeping it up to date, particularly for thing

[2015-06-07 01:56] dbeckwith commented on #257
I've modified my folder layout slightly since then, but I'm still getting essentially the same thing. Now all of my source files are in one folder, but I still get a blank output file, and individual compiled files in the source directory.

[code]

[2015-06-07 02:09] nycdotnet commented on #257
Ah ok I know what this is.  TypeScript doesn't allow external modules to be concatenated with `--out`, but they don't provide a warning either.  Take a look here: https://github.com/Microsoft/TypeScript/issues/1544

We should probably provide a warning if a module system is used with `out` since `tsc` doesn't.

[2015-06-07 02:23] nycdotnet commented on #257
This will be in the next major version of grunt-ts:

![usingoutwithexternalmodules](https://cloud.githubusercontent.com/assets/3755379/8022366/9664d628-0c9a-11e5-90e6-50da95b955d3.PNG)

[2015-06-07 02:23] dbeckwith commented on #257
Ah okay, thanks!

[2015-06-07 02:24] nycdotnet commented on #257
Check out Browserify or WebPack to do the concatenation.  Thank you for the report.

[2015-06-07 02:24] #257 closed

[2015-06-07 03:19] nycdotnet opened #258 "Need to handle peer dependencies properly to support npm 3+"
Any suggestions would be welcome.

[2015-06-08 04:02] nycdotnet commented on #250
Should be working in 4.2.0-beta.1 which I just pushed to npm.  Please let me know if not.  Thanks for the report!

[2015-06-08 04:02] #250 closed

[2015-06-08 04:03] nycdotnet commented on #244
Should be working in 4.2.0-beta.1 which I just pushed to npm, along with the `additionalParameters` feature.  Let me know if it's not working for you.  Thanks for the suggestion.

[2015-06-08 04:03] #244 closed

[2015-06-18 15:48] bryanforbes opened #259 ""experimentalDecorators" is not passed to compiler"
I'm trying to compile a project using decorators with a recent build of TS and it's telling me that I have to pass the `experimentalDecorators` flag. I can pass it on the command line, in my `tsconfig.json`, but not with `grunt-ts`. I believe it's because it's not handled with the other [boolean options](https://github.com/TypeStrong/grunt-ts/blob/e5503e16716e84df4b4eb1e73703083dfdfb7a1b/tasks/mod

[2015-06-18 15:56] nycdotnet commented on #259
This release of grunt-ts is the one that supports TypeScript 1.5:  https://github.com/TypeStrong/grunt-ts/releases/tag/v4.2.0-beta.1

The docs for it are updated on this branch:  https://github.com/TypeStrong/grunt-ts/tree/update-to-typescript-1.5.0-beta

If the flag name has changed since we released v4.2.0-beta.1, the new version supports passing any arbitrary parameter to tsc via the `additiona

[2015-06-18 16:06] bryanforbes opened #260 "Cannot use "inlineSourceMap" or "inlineSources""
When attempting to use inline source maps with inlining sources, I get an error:

[code]

Even if I explicitly set "sourceMap" to false in my options, it still gives this error. In the release, there is some code which I can't seem to find in the repo. In `ts.js` after the line `options.removeComments = !!options.removeComments;` there is this:

[code]

This code is wrong. `--inlineSourceMap` cann

[2015-06-18 16:14] bryanforbes commented on #259
I have `grunt-ts@4.2.0-beta.1` installed from npm. I'll try the `additionalFlags` option for now. This flag is different than `emitDecoratorMetadata`, which emits an extra call to `Reflect.metadata`. In order to use decorators at all with the newer 1.5 releases, users are required to pass `--experimentalDecorators` to the compiler or an error will be thrown.

[2015-06-18 16:17] nycdotnet commented on #260
Hello again - this code was implemented because in the TypeScript 1.5 beta it was required to pass the `sourceMap` flag to get the others working; from what you're saying, they reverted that decision in the version you have.  I would suggest using the `additionalFlags` feature of the beta release to pass `inlineSourceMap` for now.  When 1.5 is officially released, we'll tidy this all up.

[2015-06-18 16:18] nycdotnet commented on #259
It seems that they added `--experimentalDecorators` after we came out with 4.2.0 beta 1.  Thanks for the report.

[2015-06-18 16:20] bryanforbes commented on #260
Ok. Thanks!

[2015-06-18 17:37] bryanforbes commented on #260
In case you were wondering, I've worked around it in `dojo-core`'s [Gruntfile.js](https://github.com/dojo/core/blob/151676df1dfe39b3c2f97c51cdac541ccd1d887c/Gruntfile.js#L14-L34).

[2015-06-18 17:50] nycdotnet commented on #260
Nice work.

[2015-06-23 09:23] duaned commented on #132
Has this issue been resolved? I'm currently experiencing this issue but I've found some work arounds.

I removed the watch from my grunt-ts config and swapped it out for grunt-contrib-watch which seemed to work.

After that I switched back to a grunt-ts watch but with a fresh checkout of my project and it started picking up changes and compiling again.

I also commented out the if statement that c

[2015-06-23 13:40] nycdotnet commented on #132
Sorry we haven't fixed this yet.  That sounds like the behavior that @rippo was experiencing.

@basarat do you think a simple debounce would be good enough to work around this?

[2015-06-24 00:28] basarat commented on #132
Probably not. Simple debounce will only call with *last* change argument. We probably want to call with *all changes*. That said, considering *all the edge cases* is out of scope, so feel free to give it a go with a simple debounce :+1:

[2015-06-29 17:39] nycdotnet commented on #258
@basarat @jeffmay @staxmanade @johnnyreilly

Hey folks - I think there's only two ways to account for the peer dependencies change in npm 3.0 (blog post linked above):
  * Change from a peer dependency to a direct dependency.
  * Document that someone needs to run `npm install` again after installing grunt-ts.

Which do you prefer?  Is there some other solution that I'm not considering?  Thanks fo

[2015-06-30 00:46] basarat commented on #258
I'll wait for this to come out, as I have completely fallen out of touch with current updates to NPM :)

[2015-07-03 20:36] azanebrain opened #263 "Force compilation even if no changes have occurred"
When compiling a fresh build (after a `clean` for example), grunt-ts won't compile typescript files because no changes have occurred, and throws the following message:

[code]

IMO there should be a flag to set whether grunt-ts should run even if there are no changes so a fresh build can be created.

[2015-07-04 02:02] nycdotnet commented on #263
Try fast: 'never'.

[2015-07-06 05:40] basarat commented on #263
That would work. Also you can clear the cache `.tscache` folder.

[2015-07-15 12:43] aikrez commented on #202
+1

[2015-07-17 19:52] vtkalek opened #264 "target option is not working with `vs` when i set it to ES5"
Hi,
i have a gruntFile.js with this grunt-ts config:
[code]

But when i run this task it 's always throws errors like: TS1056 Accessors are only available when targeting ECMAScript 5 and higher.

I check the compiler.ts file installed and found :
args.push('--target', task.target.toUpperCase());
string where target is inserted, but there is alvays es3 value only passed as a target.

I also tried

[2015-07-19 14:33] flyzb618 opened #265 "complie the file "node.d.ts" with "the error TS2304""
my tsc is 1.5 beta ,and my gruntfile.js is below:
module.exports = function (grunt) {
  grunt.initConfig({
    ts: {
      default: {
        src: ["src/**/*.ts", "!node_modules/**/*.ts", "!typings/**/*.ts"],
        out:"bin/out.js",
        options: {
          fast: 'never',
          module: 'commonjs',
          declaration: true,
          force: true
        }
      }
    }
  });
  grunt.lo

[2015-07-20 04:43] basarat commented on #265
Not sure its related but .... Don't combine `--out` with `--module`. In fact with `--module commonjs` *there is no need for `out`* :rose:

[2015-07-21 05:51] Verdier opened #266 "Support for --experimentalDecorators option"
Since the release of typescript 1.5, we need to add the `--experimentalDecorators` option to support decorators. Do you plan to add it ?

Thanks for this incredible project.

[2015-07-21 11:43] nycdotnet commented on #266
Hi,
I will be working on this today.  For now, you can get this working if you install our beta which lets you pass arbitrary switches.  Docs here:

https://github.com/TypeStrong/grunt-ts/tree/update-to-typescript-1.5.0-beta

[2015-07-21 21:09] nycdotnet commented on #263
Hi @azanebrain - I hope either of these two suggestions resolved your issue.  Please let us know if not.

[2015-07-21 21:09] #263 closed

[2015-07-21 21:11] nycdotnet commented on #265
When you run tsc, is it referencing the tsconfig.json file?  If so, what are the contents of that file?

Why are you excluding the typings folder in the `src` array?  Normally you need to include the typings files if you want a successful compile.

[2015-07-22 02:56] nycdotnet commented on #266
This should be resolved with v4.2.0 published just now.   Please let me know if not.

Thanks for the kind feedback.  We're glad you like it!  :-)

[2015-07-22 02:56] #266 closed

[2015-07-22 02:57] nycdotnet commented on #260
Hi Bryan,

This should be resolved with v4.2.0 published just now.   Please let me know if not.

Thanks for contributing!

[2015-07-22 02:57] #260 closed

[2015-07-22 02:59] nycdotnet commented on #259
You should be able to pass `experimentalDecorators` in 4.2.0 without having to resort to using `additionalFlags`.  Thanks for the report!!

[2015-07-22 02:59] #259 closed

[2015-07-22 03:08] nycdotnet commented on #247
As an update, in 4.2.0, I've added/migrated about 20 tests to `commandLineAssertions.ts`, which will simply confirm that the correct switches "would be passed" to tsc if it were run, but does not actually run tsc.  While these 20 tests partially represent true growth in the number of tests, each item in commandLineAssertions only takes about 1/10th of a second, so we're about 50 seconds faster tha

[2015-07-22 08:18] Verdier commented on #266
Thanks !

2015-07-22 4:56 GMT+02:00 Steve Ognibene <notifications@github.com>:

[2015-07-24 15:29] JeroMiya opened #268 "Support rootDir tsc option, omit .baseDir.ts when specified"
Typescript 1.5 supports a --rootDir option, which addresses the issue this grunt-ts option was intended to solve:
https://github.com/TypeStrong/grunt-ts/issues/77

Support the rootDir option, and, when specified, do not generate the .baseDir.ts file at the root directory - it is no longer needed.

[2015-07-24 15:33] JeroMiya opened #269 "Add project option for tsc --project command line argument"
Typescript 1.5 has a --project command line argument to specify a folder with a tsconfig.json file with compiler options. Support this option as an alternative to specifying compiler options in the grunt task, so that editor settings and grunt build settings can stay in sync.

Alternatively, some functionality to generate a tsconfig.json file that matches the grunt task?

[2015-07-24 21:47] nycdotnet commented on #269
I agree.  Discussion is here: https://github.com/TypeStrong/grunt-ts/issues/202.

I intend to implement this soon. Thanks for your patience!

[2015-07-24 21:47] #269 closed

[2015-07-24 21:50] nycdotnet commented on #268
Thanks for this feedback.  I will consider it.  The trouble is that we intend to support down-level compilers (or even custom ones) in addition to the latest and honestly we haven't developed a foolproof way to tell which version of the compiler we're using without reading package.json (which could be lying).

Do you have a suggestion?

[2015-07-24 21:54] JeroMiya commented on #268
My suggestion would be to document that the option requires typescript 1.5, or a compiler that takes the rootDir option, and warn that it won't work otherwise. Basically, treat it like any other new compiler option that is added to the compiler in a particular version.

Does tsc have a --version argument? If so you might also be able to just run that once and parse the version. Not sure.

[2015-07-24 22:04] nycdotnet commented on #268
I looked into this further and I retract my earlier statement.  There shouldn't be a backward-compatibility concern.  I was thinking we had an existing `rootDir` option, but my memory of it was incorrect.

I agree that we should be able to implement this, and hopefully if `rootDir` is passed we can skip the `.baseDir.ts` file emit.

[2015-07-27 05:57] seventyone-ben commented on #264
Hey,

ran into the same issue today...

The current version of VS2015/NTVS doesn't seem to write the `<TypeScriptTarget>` tag into the .nsproj by default. The VS2015 default target (at least for me) is ES5.

After changing the targeted ECMAScript version in Visual Studio to ES3 it was present in the project file. Changing it back to ES5 and it was removed again.

It would be great to either make E

[2015-07-27 07:38] gilamran commented on #202
+1

[2015-07-27 16:38] vvakame commented on #202
:+1:

[2015-07-29 14:52] nycdotnet commented on #264
Would either of you please update your package.json for grunt-ts to reference csproj2ts 0.0.4 and see if it resolves the issue?  If not, I will take a closer look at this as part of the implementation of tsconfig.json suppor this week.

Thanks for the report.

[2015-07-29 15:37] nycdotnet commented on #202
OK folks - here's my design.  I should have time to code this tomorrow and Friday, so please provide any comments soon.  Thanks for your patience.

# tsconfig.json Support

Grunt-ts supports using a tsconfig.json file.  Here are some example Gruntfile initConfig sections:

Use all settings from the specified `tsconfig.json` file including `files` and `compilerOptions` (path to the `tsconfig.json`

[2015-07-29 15:59] seventyone-ben commented on #264
It still ignores `target:` and `module:`  set in Gruntfile.js, and also `<TypeScriptTarget> ` for me. Other settings from `options` are used (e.g. `verbose`).

Tested with csproj2ts@0.0.4, its default target is ES5, so it's at least compiling for me now.

[2015-07-29 16:08] nycdotnet commented on #264
OK thanks.  I should have time to fix this in the next week or so once I implement tsconfig.json support.

[2015-07-29 23:29] basarat commented on #202
Looks good :+1:

[2015-07-30 09:06] johnman commented on #202
Hi just a thought.

This may already be covered but I'm not sure after reading through the proposal.

From what I've read you can have a tsconfig file and decide to use it or override settings when compiling using grunt-ts.

I like the fact that in grunt you have the option of overriding settings based on a context (i.e. you could either have a dev or release config section in grunt-ts or you coul

[2015-07-30 09:11] johnman commented on #217
I usually get around this by having the output go to a dist directory so the d.ts files that get generated are not taken into account in either builds or watchers (grunt otherwise you could get in a loop where you watch triggers grunt-ts every time grunt ts re-generates the foo.d.ts files unless you start excluding there too).

[2015-07-30 09:21] johnman opened #270 "Offer minimize html support for the typescript html views"
I like the html support you have for grunt-ts and have used the features in the latest beta to create a custom template ts file.

A nice option would be to enable html minification so that the generated js would be smaller on larger views.

Nice work on grunt-ts!

[2015-07-30 12:01] sethx commented on #270
Are you talking about the htmlOutputTemplate option?

On Thu, Jul 30, 2015 at 11:21 AM johnman <notifications@github.com> wrote:

[2015-07-30 12:59] nycdotnet commented on #202
It sounds like you're asking for an `overwriteCompilerOptions` feature.  This would default to false, but if true it would update the `tsconfig.json` 's `compilerOptions` section with the configuration available in the Gruntfile.  Is that what you're asking for?

If so, I'll have to think about it.  My thought about this feature is that the tsconfig.json should be set up to support your IDE/the Ty

[2015-07-30 15:13] gilamran commented on #202
I think that the tsconfig.json should always override grunt-ts compiler setting.
Actually the tsconfig.json is good for the IDE, your IDE will never "understand" the compiler setting that you have on your grunt-ts...
On the day to day you will let the IDE see the tsconfig.json and "understand" the project's settings, and in your build process you'd want to override some setting that exist in the t

[2015-07-31 09:50] johnman commented on #270
Yes I use htmlOutputTemplate and have a views task with the pattern to find all relevant html files with no source and compile set to false (a different build config builds all the ts including the html ts files).

[2015-07-31 09:51] johnman commented on #270
maybe some htmlmin options support in options so that we can optionally minify the html that will be within the ts property.

[2015-07-31 10:11] johnman commented on #202
@nycdotnet Hi yeah I was thinking something along those lines. I was also thinking of the src files.

E.g. Grunt-ts has a pattern of files to compile and one of those is similar to a vendor.d.ts file to take into account thirdparty modules I am importing.

There should be no need for me to add /// <reference path=".../vendor.d.ts" /> now that tsconfig exists.

This setting exists in my settings of

[2015-08-01 10:07] bgever commented on #202
I like that you can override with another `tsconfig.json` file in a different location. For instance, in our case we have a root Web App, and an Admin MVC Area. Both share code, but due to the variations in the include patterns, they generate different bundles with `-out`. This way we can specify two grunt subtasks for each bundle. :+1:

[2015-08-03 08:07] johnman commented on #208
you can use <%=content%> and <%modulename%> with a custom template to add export and those two. That will generate a ts file you can compile that exports your html. You'll need the latest version of grunt-ts as the version before didn't create the template you specified.

[2015-08-04 09:46] hoeni commented on #270
+1, that would be really great. At the moment I prefer loading angular templates the "traditional" way, because I can mimimize them. If I could use htmlmin in grunt-ts, compiling to .ts would be the superior way for templates.

[2015-08-04 09:52] hoeni opened #271 "html2ts should honor outDir setting"
When generating a .ts file from .html it should be stored in the configured outDir (if there is one configured).
At the moment, the .ts file is generated in the source directory, only the derived .js and .map files are stored in the outDir correctly.

If using outDir for that is not an option, maybe one could introduce a separate option for that (e.g. 'htmlOutDir')?

[2015-08-04 09:54] sethx commented on #270
Hi John and Hoeni,

I've been thinking about this for a little while.
In my opinion minification has no place within grunt-ts, as grunt-ts does one thing: compilation to typescript.

I personally export to AMD modules and then the minification can be handled by means of my build system, in other cases a grunt watch task could pick up .ts files and minify html strings in them, but it's really not a

[2015-08-04 09:56] sethx commented on #270
@nycdotnet any opinions?

[2015-08-04 09:59] sethx commented on #271
Valid point. I personally don't use outDir so it hadn't occured to me that this may be necessary, but I'll make changes to honor outDir.

[2015-08-04 10:01] hoeni commented on #270
Hi sethx,

I don't think that grunt-ts should *do* the minification, as this is surely no fit (one tool, one task!). But it should spawn another minification tool for this.

As an example for a similar task see the ngtemplates module (https://github.com/ericclemmons/grunt-angular-templates). It takes HTML template files to build one huge (angular-)JS file from. It is able to use ngmin for compress

[2015-08-04 10:09] sethx commented on #271
Btw, i just checked the source, and "htmlOutDir" is already a valid option.

[2015-08-04 10:12] sethx commented on #270
I'll investigate bundling html-min as it's already a grunt plugin. that makes more sense...
But that requires config changes i'd guess.
Am quite busy these days, hope to get to it during the weekend.

[2015-08-04 12:18] hoeni commented on #270
Sorry, it was htmlmin in ng-templates not "ngmin" anyway :-)

[2015-08-04 12:20] hoeni commented on #271
At least "htmlOutDir" has no effect in my case...

[2015-08-04 12:39] sethx commented on #271
I'll test it later this week. Thx for reporting!

On Tue, Aug 4, 2015 at 2:20 PM Tobias Henöckl <notifications@github.com>
wrote:

[2015-08-04 12:45] nycdotnet commented on #270
I would be willing to allow a plugin.  Perhaps by passing a function in the Gruntfile to the html feature.  Would that be useful?  That way we could provide the support but not have to be in that business.  Make sense?

[2015-08-04 14:10] nycdotnet commented on #202
@johnman This would be supported with the design above.  I will add an explicit scenario to explain.

[2015-08-04 14:29] nycdotnet commented on #202
OK added another scenario at the end.

Sorry this has taken so long.  There's a lot going on in my personal life at the moment - I hope this will be available in two or three weeks.

[2015-08-05 11:54] eirikhm commented on #164
Same issue here.  error TS2339: Property 'isTablet' does not exist on type 'AlbumImage', but it does not fail.

I've set failOnTypeErrors to true.

[2015-08-09 03:50] AnthoniG commented on #265
I seem to experiencing the same problem, but it happens with jquery, angular and angular-route.
Here is my GruntFile

[code]
I am using the tsd program to pull down the typings from DefinatelyTyped.
I am using IntelliJ but using Grunt-TS for the typescript compiler so I can add the watch for all directories and output to single file (learned from @basarat videos).

However my console is spewing ou

[2015-08-10 01:56] basarat commented on #265
@AnthoniG : `compiler: 'f:\Development\Typescript\TypeScript-master\bin\tsc'` escape `\` or use `/` instead. Does that help? :rose:

[2015-08-10 13:23] AnthoniG commented on #265
@basarat Brilliant thanks. I also upgraded to the latest grunt-ts as well as doing above and it all works now.

On a seperate note: I am having to use the html to ts because of Angular's funny secureurl won't load templates off my own domain. So I am passing in the template via the string now instead of the url. As you can imagine, this is making my out.js file rather large.

1] Is there a way to

[2015-08-10 15:33] nycdotnet commented on #265
Look into grunt-contrib-uglify.  I will add a blurb about how to integrate it to the docs later, but pretty much you npm install it, then add an uglify section in your initConfig and add it to your target.  The trouble is that you can't minify with "watch" because grunt-ts doesn't yield I that mode (yet) so you'd probably want to have two separate targets.  A dev one that watches and a release one

[2015-08-10 20:26] AnthoniG commented on #265
Hi @nycdotnet ,

I think I am going to wait until you do the docs about it, because you totally lost me there :)
Like I said very new to grunt. All my compiling has been inside an IDE, so kinda spoilt lol

[2015-08-10 20:44] nycdotnet commented on #265
I am sorry.  Reading back on that it was completely jargon filled and not useful for someone just starting out.  Hope will be soon.  If you have a Pluralsight subscription, you might benefit from my course Practical TypeScript Migration where I demo grunt-ts and also show minification.

[2015-08-10 21:50] AnthoniG commented on #265
Don't have a Pluralsight subscription at moment, but hoping to get one soon as I've seen some good tutorials on there (especially about Angular / Typescript etc).

Look forward to the docs :)

[2015-08-12 19:33] AnthoniG commented on #270
I'd advocate spawning off to a plugin to minify the html (spoke about this before) but I am not used to grunt yet, so docs / examples would be useful in my case :)

[2015-08-12 19:54] AnthoniG opened #272 "Reference comments littering the Javascript file"
Gruntfile.js
[code]

When I look inside the out.js file it has loads of /// <reference comments inside and I can not seem to get rid of them. It also has the full list right at the end of the file.

Is this normal ? If not, how do I get rid of them ?

--

Also, I think this is a tsc thing, when using module Controllers{} and I have multiple controllers in multiple .ts file, the output javascript h

[2015-08-12 20:46] nycdotnet commented on #272
Hi,
Reference comments are preserved by tsc even if `--removeComments` are preserved.  I don't know the reasoning for this, but I believe that it is intentional.  A minifier like uglify should be able to remove these with no issues.

If you're using a tool like grunt-ts and an editor that supports the TypeScript language service like Visual Studio or Atom you shouldn't technically need reference c

[2015-08-12 21:20] AnthoniG commented on #272
@nycdotnet Thanks Steve.

By "has full list at the end of the file" I mean this is what is outputted in my javascript file, right at the bottom.
[code]

As you say, an uglifier *should* get rid of this though. (no worries on documentation of this, you mentioned you were doing it. I am not at the stage I need it yet anyway).

My editor is InjelliJ IDEA and I think (though not 100% certain) that it

[2015-08-13 01:39] basarat commented on #272
If you use `reference: "./app/ref.ts"` we generate a reference file with these comments. And then TypeScript will output the .js with these reference comments.

Not really an issue with `grunt-ts`. It's doing what you asked it to do :rose:

[2015-08-13 01:39] #272 closed

[2015-08-13 07:00] bjorm opened #273 "Templates in grunt targets resolved inconsistently"
I run grunt-ts 4.2.0 and I have defined two targets:
[code]
If I run either target, I get

When I output ```target``` at https://github.com/TypeStrong/grunt-ts/blob/master/tasks/modules/compile.ts#L140 (where I think the error occurs), I get:
[code]

Why is outDir correctly resolved but not src or baseDir?

[2015-08-13 15:36] nycdotnet commented on #273
Hi,
There is a bit of a problem with the order in which we resolve things that may be causing this.  I'm working on parameter resolution and templates now as part of the tsconfig.json support and I'll be sure to use your gruntfile in a test case.  Sorry about that.  It should be fixed soon.  Can you get away with hard-coding the values in your gruntfile for now (or just use variables instead of te

[2015-08-17 18:51] nycdotnet commented on #273
This will be fixed in #275 when that is complete (still work-in-progress).

[2015-08-17 18:52] nycdotnet commented on #271
This will be fixed in #275 when that is complete (still work-in-progress).

[2015-08-17 18:52] nycdotnet commented on #264
This will be fixed in #275 when that is complete (still work-in-progress).

[2015-08-17 18:52] nycdotnet commented on #248
This will be fixed in #275 when that is complete (still work-in-progress).

[2015-08-17 18:56] nycdotnet commented on #202
I have created PR #275 for this which is still very much a work-in-progress.  It's a significant refactoring that will fix several longstanding issues with grunt-ts options resolution, add many fast unit tests, and consolidate the `vs` and (new) `tsconfig` code.  It should be ready for testing in a few days assuming I don't have any personal emergencies.

Thanks for your patience, all.  I will rea

[2015-08-17 20:32] bjorm commented on #273
Thanks for the quick response. No, it is not a big deal. Just thought I'd mention it. Should I close this issue since it is tracked elsewhere now?

[2015-08-17 22:15] nycdotnet commented on #273
Nah I'll close it when #275 lands.

[2015-08-18 16:14] nycdotnet opened #276 "Update grunt-ts generated JS to us inline source maps"

[2015-08-23 05:05] nycdotnet commented on #202
Hi All,

Well, the initial refactoring work took much longer than expected, but #275 should now has all unit tests passing.  It's up to 33 changed files with 3,333 additions and 1,710 deletions; granted a lot of these are refreshing definition files, but this is still a lot of new code.  The good news is that grunt-ts should be a lot cleaner to work on now going forward and has way more tests and

[2015-08-24 06:48] SergioMorchon commented on #202
@nycdotnet Thanks a lot!!!

[2015-08-24 08:14] gilamran commented on #202
@nycdotnet, what's planned for the configuration overrides? will the tsconfig.json override the grunt-ts task configuration of the other way around?

As mentioned before I think that the grunt-ts configuration should override the tsconfig configuration. this is really important because the tsconfig.json is very useful for the IDE and the grunt-ts for the build time.

[2015-08-24 13:55] nycdotnet commented on #202
Yes the gruntfile will override the tsconfig so build time can be different than dev time.

Full spec several posts back in this thread.  See "Proposal for tsconfig.json Support".

[2015-08-27 17:09] nycdotnet commented on #202
Quick update: I have the basic scenario essentially working and expect to release a beta later today.

[2015-08-27 20:57] nycdotnet commented on #202
Hooray!   grunt-ts 5.0.0-beta.1 now available on npm.

**PLEASE HELP BY TESTING**  Version 5 is a major refactoring in addition to the tsconfig.json support, so I will appreciate your assistance.

Features not yet implemented: `ignoreSettings`, `overwriteFilesGlob`, `updateFiles`, `passThrough`.  All but `passThrough` should make it into 5.0 final.  `passThrough` will likely be in a later patch.

[2015-08-30 04:12] vvakame commented on #202
https://github.com/vvakame/typescript-project-sample/blob/try-tsconfig/Gruntfile.js#L18-L29
I can't get expected behaviour.
My settings is incorrect?

[2015-08-30 12:50] nycdotnet commented on #202
Don't put under options; it goes on the target (or task) directly.  Also I didn't get templates working yet.  :(

I will add your case to the tests and it should warn on incorrect placement and templates will work as expected.

Thank you for testing!

Can you hardcode the value temporarily and see if it works?

[2015-08-31 19:31] nycdotnet commented on #202
I've published `grunt-ts@5.0.0-beta.2` which resolves the issues identified by @vvakame:
  * Templates should now work as expected.
  * grunt-ts will warn if `tsconfig` is specified on the task or target `options` object.

Would you please test again?  Thank you!!

[2015-08-31 19:32] nycdotnet commented on #273
Hello, @bjorm - Would you please try grunt-ts@5.0.0-beta.2 and let me know if it resolves your issue?  Please note that this is a significant rewrite of the options resolution logic so it may have other issues.  Let me know if you see anything.

[2015-08-31 19:34] nycdotnet commented on #271
Hello, @hoeni - Would you please try grunt-ts@5.0.0-beta.2 and let me know if it resolves your issue?  Please note that this is a significant rewrite of the options resolution logic so it may have other issues.  Let me know if you see anything.

[2015-08-31 19:35] nycdotnet commented on #264
Hello, @vtkalek  - Would you please try grunt-ts@5.0.0-beta.2 and let me know if it resolves your issue?  Please note that this is a significant rewrite of the options resolution logic so it may have other issues.  Let me know if you see anything.

[2015-08-31 19:38] nycdotnet commented on #252
@gCardinal Hi - sorry this floated out there so long.  I am willing to consider a PR once v5 comes out.  If you're interested to create this functionality, please let me know.  For now, I'll mark this as jump in.

[2015-08-31 19:40] nycdotnet commented on #247
With v5, we've got enough examples of fast tests stuff to basically consider this resolved.  I can live with "done but with errors" for now.

[2015-08-31 19:40] #247 closed

[2015-08-31 19:44] nycdotnet commented on #216
After v5 comes out, I want to revisit the fast functionality and see what can be done to improve it - especially considering the new `--isolatedModules` switch.  Marking this as an enhancement for now.

[2015-08-31 19:45] nycdotnet commented on #208
I think this is resolved now.  If not, please let me know and I will reopen.

[2015-08-31 19:45] #208 closed

[2015-09-02 05:29] nycdotnet commented on #202
FYI: `grunt-ts@5.0.0-beta.3` is now out which adds support for the `passThrough` feature and contains a few fixes.  I believe all that remains is `ignoreSettings`, `overwriteFilesGlob` and `updateFiles` support.

Any testing or feedback is appreciated.  Thank you.

[2015-09-02 14:07] lhecker commented on #202
Let's say my `Gruntfile.js` uses this very simple task:
[code]

and my `tsconfig.json` looks like this:
[code]

Am I doing something wrong if all the resulting `.js` and `.js.map` files are still placed in the `src` instead of the `.tmp` folder, or is this feature not yet implemented?

[2015-09-02 14:11] nycdotnet commented on #202
I think you've specified it correctly.  Are you using `grunt-ts@5.0.0-beta.3` from last night?  Do you get any warnings on the command-line?  Would you mind adding `verbose:true` under the `ts:default` entry and letting me know which switches were passed?

[2015-09-02 14:15] nycdotnet commented on #202
Nevermind - there is indeed an issue with pulling `outDir` (and probably `out`) from the tsconfig.  Thanks for finding this!  Will fix presently.

[2015-09-02 14:16] lhecker commented on #202
Yep I'm using the `grunt-ts@5.0.0-beta.3` together with typescript `v1.6.0-dev.20150825`.

[code]

It seems the `outDir` member variable is not passed as `--outDir` to `tsc`.

[2015-09-02 14:25] nycdotnet commented on #202
I believe `grunt-ts@5.0.0-beta.4` should resolve this issue.  Please let me know.  Thanks for testing!!

[2015-09-02 14:50] lhecker commented on #202
Yep. It's fixed. :smiley:

[2015-09-02 14:54] nycdotnet commented on #202
Excellent!

[2015-09-03 16:55] radziksh opened #277 "Select the type of automatically generated quotes"
Hi. My team uses double quotes for literal expressions. But when I generate the file:
[code]
it gives me single quotes:
[code]
but I want double quotes:
[code]
Is it possible configure grunt-ts for generate double quotes?

[2015-09-03 23:38] nycdotnet commented on #277
Hi,
Not right now, but I would consider a pull request for this after 5.0 comes out.

[2015-09-05 13:31] vvakame commented on #202
I tried `grunt-ts@5.0.0-beta.4`.
but it is not works expectedly.
in `typescript@1.6.0-beta` has [`--init` options](https://github.com/Microsoft/TypeScript/issues/3079).
it generate above tsconfig.json.

[code]

grunt-ts is not pass through configfile to tsc?

[2015-09-05 15:47] nycdotnet commented on #202
Those options should all work except exclude.  I'll look into it.  Thank you.

[2015-09-10 00:22] AlexanderMattoni commented on #202
I seem to be having an issue getting this working on `grunt-ts@5.0.0-beta.4`.

My gruntfile.js looks like this:
[code]

and my tsconfig is just empty JSON (`{}`).

I get the following error when I try and compile:

`TypeError: Cannot use 'in' operator to search for 'declaration' in undefined`

Sorry if I'm making a simple mistake, I really would like to stop using reference files and move to the t

[2015-09-10 11:56] nycdotnet commented on #202
Not a mistake - i just hadn't anticipated someone passing in an empty object in their tsconfig.  Can you add a compiler options empty object and an empty files array (see above for samples - typing on my phone) and it should work with the grunt settings.  Then you can start transitioning over.  Note that the filesglob feature isn't implemented yet in this PR so you may have to manage files manuall

[2015-09-10 15:46] nycdotnet commented on #202
@vvakame どうもありがとうございます。  I forgot that if files is missing that tsconfig.json compiles *.ts and *.tsx.  I have added these rules to the specification:

 If `files` is absent in `tsconfig.json`, but `filesGlob` is present, grunt-ts will create and update the `files` array in `tsconfig.json` as long as `updateFiles` is `true` (the default).  Since `files` will be created in this scenario, the `exclu

[2015-09-11 04:35] nycdotnet commented on #202
Hello again, All.

I have resolved the issues reported by @vvakame and @AlexanderMattoni , and completed the implementation of the tsconfig support.  I believe that it is now **feature complete**.

There's a few little things I need to clean up and I still need to merge-in the docs, but I would greatly appreciate it if you would give `grunt-ts@5.0.0-beta.5` a try (in just a moment once it's publis

[2015-09-16 08:21] timpcc opened #279 "Any way to get this working with typescript@next?"
Is there any way to get this to target typescript@next rather than the version bundled with the task itself?
This may be simple, but I'm pretty new to grunt and node, so you please excuse my ignorance.

Thanks for any help,
Tim

[2015-09-16 09:16] basarat commented on #279
Lots of ways. Checkout https://github.com/TypeStrong/grunt-ts#compiler feel free to ask further if documentation is unclear :rose:

[2015-09-16 09:16] #279 closed

[2015-09-17 08:32] awjreynolds opened #280 "Typescript 1.6.2 released"
Title says it all really.

[2015-09-17 09:24] Zjaaspoer commented on #280
+1

[2015-09-17 10:50] DrColossos commented on #280
+1

[2015-09-17 11:31] nycdotnet commented on #280
Update your package.json, run npm install, and you will have 1.6.

If you need switches that aren't supported by grunt-ts yet, look into the additional parameters option.

We'll update to 1.6 automatically once time allows.  Thanks.

[2015-09-23 19:42] escardin commented on #202
I'm having trouble with passthrough working:
Gruntfile:

    ts:{
            build:{
                tsconfig:{
                    passThrough:true
                }
            }
        }

tsconfig.json:

    {
      "compilerOptions": {
        "module": "commonjs",
        "noImplicitAny": true,
        "removeComments": true,
        "preserveConstEnums": true,
        "outDir": "build/tmp/

[2015-09-23 20:21] nycdotnet commented on #202
Thanks for the report.  Can you run it grunt with the `--verbose` switch and tell me what command line is passed into tsc?  Can you then run that command-line manually and let me know if the performance is the same or not?  With `passThrough` it should not technically be different, but there could be a bug.

[2015-09-24 16:35] escardin commented on #202
grunt ts:build --verbose (ts:{build:{tsconfig:true}})

    Running tasks: ts:build

    Running "ts:build" (ts) task
    Verifying property ts.build exists in config...OK
    File: [no files]
    Compiling...
    ### Fast Compile >><files from src/main/webapp...>
    Using tsc v1.6.2
    <complete paths to files from src/main/webapp> --removeComments --noImplicitAny --preserveConstEnums
    --targ

[2015-09-24 20:21] ravishivt commented on #280
This might be naive, but why not make the grunt-ts package use whatever version of tsc that the user has installed.  You could also provide a config option to allow the user to specify a custom tsc path if they don't want to use the one in $PATH.

[2015-09-24 20:59] nycdotnet commented on #280
We use a "contained" typescript plugin as versioned by package.json since this is fairly standard for Grunt plugins.  It lets different projects on a computer use different versions of TypeScript, and makes cross-platform compatibility very slightly easier, among other benefits.

We do supply a config option to allow the user to specify a custom tsc path: https://github.com/TypeStrong/grunt-ts#com

[2015-10-01 14:36] logankd commented on #280
+1

[2015-10-02 15:21] eweiss1979 commented on #202
Using grunt-ts 5.0.0-beta.5 with typescript version 1.6.2

 I want grunt-ts to compile my typescript into 1 js file. I also want it to use the settings in my tsconfig.json file in which I set the location of my app and typings with filesGlob setting.

I need the compliled js file to be put into a wwwroot publishing directory with sourcemaps back to my src directory.

gruntfile.js
[code]
tsconfig.j

[2015-10-05 13:36] cyrilgandon opened #282 "How to add flag jsx?"
I see that a commit have been made to allow tsx files : https://github.com/TypeStrong/grunt-ts/commit/14b92069f749aa74c8bd59a032955f9d4be21c8a

That's nice, but when I try to add my tsx files:

    files: {
        'dist/js': ['**/*.ts', '**/*.tsx']
    },

I got the error:

How am I supposed to specify the jsx flag with grunt-ts?

Note that tsx support is for ts 1.6, that's why I also specify a c

[2015-10-05 14:24] Gouigouix commented on #280
Hi @nycdotnet
Please release 5.0.0 ;o)

Thx for good jobs

[2015-10-06 06:18] basarat commented on #282
Use additional flags : https://github.com/TypeStrong/grunt-ts#additionalflags

Closing the issue for now. Feel free to query if it is still unclear :rose:

[2015-10-06 06:18] #282 closed

[2015-10-06 07:07] cyrilgandon commented on #282
That was deepely burried in the docs, thank you :+1:

[2015-10-06 08:08] basarat commented on #282
Its at the top : https://github.com/TypeStrong/grunt-ts#support-for-tsc-switches

![image](https://cloud.githubusercontent.com/assets/874898/10303131/4dd7f9ee-6c5d-11e5-9158-f9cc2fccb041.png)

 But its always a matter of if *if you know ... you can find it*. I think I probably asked the same question the first time I needed it :)

I envy the dedication Steve shows to docs.

[2015-10-06 08:23] cyrilgandon commented on #282
No excuses, i'm just blind I guess. I've passed like 30 minutes to read all flags one by one, and I have not seen that big additionalFlags feature. :sleepy:
Nice doc :+1:
Terrible users :)

[2015-10-06 13:28] nycdotnet commented on #280
I am going to try to release it today.  I'll follow up quickly with 5.0.1 which will have TypeScript 1.6.  Thanks everyone for the feedback.

[2015-10-06 15:21] Gouigouix commented on #280
Thx a lot @nycdotnet

[2015-10-06 16:04] nycdotnet commented on #202
@eweiss1979 It appears that the TypeScript team implemented a breaking change in 1.6.2 for some reason and changed `--out` to `--outFile`.  I'll log this as a separate issue and address this in v5.0.1.

[2015-10-06 16:07] nycdotnet commented on #202
@escardin I've implemented an optimization that avoids adding directories to the glob that will be excluded as per the `tsconfig.json` file.  This should resolve the performance issue you're experiencing - please let me know.

[2015-10-06 17:02] nycdotnet commented on #202
I've released `grunt-ts@5.0.0-beta.6` which should address these comments.

I will work on closing out the remaining chores later today and hopefully will release 5.0.0 officially later today unless I hear of something bad.

@eweiss1979 - FYI: The default behavior of grunt-ts is to maintain the `files` array in your `tsconfig.json` file.  If you wish to not have this happen, set `updateFiles` to f

[2015-10-06 23:43] basarat commented on #202
@nycdotnet I asked the same question. I just chose to treat them the same way : https://github.com/Microsoft/TypeScript/issues/5107#issuecomment-145677255 the difference is `out` is relative to `cwd` and `outFile` is relative to `tsconfig.json`

I treat both relative to `tsconfig.json` ... I think most people understand `out` to be relative to `tsconfig.json` ... why would `cwd` change the intent

[2015-10-07 04:51] nycdotnet commented on #202
I saw that.  Thanks Bas.

Folks - I'm adding back in some warnings that were removed during the refactoring.  I'll release as soon as that work is done barring any reports of problems.  Thanks!

[2015-10-07 17:11] #202 closed

[2015-10-07 17:33] nycdotnet commented on #273
This should be corrected in v5, just released to npm.  Please reopen if not.

[2015-10-07 17:33] #273 closed

[2015-10-07 17:33] nycdotnet commented on #271
This should be corrected in v5, just released to npm.  Please reopen if not.

[2015-10-07 17:33] #271 closed

[2015-10-07 17:34] nycdotnet commented on #264
This should be corrected in v5, just released to npm.  Please reopen if not.

[2015-10-07 17:34] #264 closed

[2015-10-07 17:34] nycdotnet commented on #248
This should be corrected in v5, just released to npm.

[2015-10-07 17:34] #248 closed

[2015-10-07 21:01] nycdotnet opened #284 "Fix documentation for `--noEmitOnError`"
The `--noEmitOnError` switch is documented in the main section but not in the upper summary area.

[2015-10-07 21:03] nycdotnet opened #285 "Fix tsconfig.json exclude support to support files"
Officially, the tsconfig.json exclude property can support file names.  Current implementation in grunt-ts only supports directories.  (https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#exclude-property-support-in-tsconfigjson)

[2015-10-07 21:04] nycdotnet opened #286 "Support tsconfig.json "init" in some manner"
Support tsconfig.json "init", possibly automatically if not detected (via tsc --init).

Would love feedback.

[2015-10-07 21:06] nycdotnet opened #287 "Optimize grunt-ts for delivery via npm"
Should only include files that are strictly required.  Probably this is a matter of just editing the `package.json` in a reasonable manner.

[2015-10-07 21:42] nycdotnet opened #288 "Make paths to compile relative"
It would be great to optimize paths to compile to be relative to the GruntFile where possible instead of absolute.  This would result in way less noise in the command-line when using `--verbose`

[2015-10-08 00:16] nycdotnet opened #289 "Re-evaluate `fast` functionality"
The current `fast` and `watch` functionality may possibly be improved by considering integration with `--isolatedModules` and the native watch functionality.  Perhaps not.  Any thoughts are welcome.

//cc: @basarat

[2015-10-08 00:44] jbrantly commented on #289
As I understand it grunt-ts actually executes `tsc` directly. I could be mistaken but I'm not sure that `--isolatedModules` actually provides any speed increase unless you're using the `transpileModule` TS API. I'm purely basing this off the comments [here](https://github.com/Microsoft/TypeScript/issues/2499) and [here](https://github.com/Microsoft/TypeScript/pull/3208). Namely:

[2015-10-08 00:48] basarat commented on #289
Yeah, `isolatedModules` is mostly for error reporting about someone using things that not safe for transpilation. For `fast` we only give TypeScript one file ... so will not have any impact

[2015-10-08 01:32] basarat commented on #287
Or https://github.com/TypeStrong/grunt-ts/blob/master/.npmignore

[2015-10-08 01:43] #284 closed

[2015-10-08 02:12] nycdotnet commented on #280
Hi all - I've just published grunt-ts `5.1.0-beta.1` which includes support for TypeScript 1.6.

Here's the PR which is still in-progress: https://github.com/TypeStrong/grunt-ts/pull/283

I'm keeping track of a few issues there.  If you run into any issues, please let me know!  Thanks.

[2015-10-08 15:18] hoeni commented on #271
Sorry, I didn't find the time yet to test it yet. I'll reopen if there are any issues!

[2015-10-08 15:19] nycdotnet commented on #271
No worries!  Thanks for the report.

[2015-10-08 15:21] nycdotnet opened #292 "Document `htmlOutDir` feature"
There is no documentation for this feature in the readme.

[2015-10-09 15:19] Vadorequest opened #293 "Internal and external modules"
Hi.
I'm confused about the meaning of these terms. What is an external module? What difference does it make? It seems to me like AMD/CommonJS are internal and requireJs is external. But I don't understand why we need to do any differenciation.

Thank you.

[2015-10-09 18:16] nycdotnet commented on #293
"Internal module" and "external module" are TypeScript terms used in TypeScript 1.4 and earlier.

In TypeScript 1.5 and higher these terms have been renamed as "namespace" and "module", respectively, but we haven't necessarily updated the language used in grunt-ts or its documentation.

See here for details:
[TypeScript Wiki](https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Names

[2015-10-12 13:18] s093294 commented on #70
I think myissue here , http://stackoverflow.com/questions/33080502/grunt-ts-watch-not-working-when-file-changed, is related to this.  The problem for me with the build in watch could be that my needed type definitions, "typings/vendors.d.ts","typings/tsd.d.ts", "!libs/**/*.ts" in .src is not included when it compiles the changed filse (from reading this issue i concluded that the src of the task i

[2015-10-12 13:24] s093294 commented on #70
my problem (using external watch) was that i missed:
[code]

[2015-10-13 13:21] vp2177 opened #294 "Use jsx from tsconfig"
If `tsconfig.json` contains the `jsx` option, it should be passed to `tsc`, as with other compilerOptions.

    "compilerOptions": {
      "module": "amd",
      "jsx": "foo"
    }

Currently when using `tsconfig: true`, `.tsx` files are compiled as well, by default, however if they actually contain TSX the compilation fails as the `--jsx` option is not passed to `tsc`, and it can only be achieved

[2015-10-13 13:41] nycdotnet commented on #294
This is supported in `5.1.0-beta.1` which you can get from npm.  Please let me know if it fixes your issue.

[2015-10-14 11:59] rolego opened #297 "Latest releases are missing a bugfix"
The recently released versions on npm 5.0.1 and 5.1.0-beta.2 did not contain the changes made by https://github.com/TypeStrong/grunt-ts/pull/291

Since we're relying on this fix, we would appreciate if someone could have a look at it.

[2015-10-14 13:56] nycdotnet commented on #297
I'll address it presently.  Not sure how it disappeared but it must have been my fault somewhere.  Thanks for the follow-up.

[2015-10-14 19:18] nycdotnet commented on #297
I think I switched computers and didn't resync first or something equally stupid.  Sorry about that.  I am releasing 5.1.0 in the next few minutes which includes your fix for #291 plus a new test to ensure that the html features always get passed correctly.  I'm closing this ticket now - please re-open if not fixed in 5.1.0.

[2015-10-14 19:18] #297 closed

[2015-10-14 20:06] nycdotnet commented on #294
This is supported in 5.1.0 which I've just pushed to npm.  If there is an issue, please re-open this ticket. Thanks!

[2015-10-14 20:06] #294 closed

[2015-10-14 20:08] nycdotnet commented on #280
I've just published grunt-ts 5.1.0 to npm which has full support for TypeScript 1.6.  Please open a new issue if you run into any difficulty.  Thanks!

[2015-10-14 20:08] #280 closed

[2015-10-14 20:08] nycdotnet commented on #292
resolved in 5.1.0

[2015-10-14 20:08] #292 closed

[2015-10-15 09:08] hoeni opened #299 "Compile only when source timestamp is newer than destination"
For some other modules with simple transformation grunt-newer can do some time-saving, as it compares time stamps of the sources and the results. When the destination is newer than the sources the compilation/transformation is omitted.

It would be great to have such an option inside the grunt-ts task to omit compilation if the destination files are alle newer than all of the source files.

[2015-10-16 18:54] jpevarnek opened #300 "Stop creating .baseDir.ts file"
Creating the .baseDir.ts file now causes issues if the `isolatedModules` option is specified, and my understanding of it is that, with the `rootDir` option in Typescript, it should no longer be necessary.

I can submit a PR for this, I just wanted to double-check that my assumptions are correct before doing so.

[2015-10-16 19:23] nycdotnet commented on #300
This is definitely something I have been meaning to look into.  We do still need to support legacy TypeScript versions, but perhaps if rootDir is specified, we can skip the emit.

Before coding anything, can you explain what you intend to do and how the new functionality still addresses the original use-case?

Thanks for contributing!

[2015-10-16 20:26] jpevarnek commented on #300
Ah, I had not considered backwards compatibility, that's fair.

In that case, I think all that would be required would be to include `!options.rootDir` in the if statement to check for whether the `.baseDir.ts` file should be created.  That way, for people using a compiler older than the `baseDir` option, nothing will change.  For anyone using a newer compiler, and manually specifying `baseDir`, t

[2015-10-16 20:57] nycdotnet commented on #300
I've never fully understood this feature and there's no tests written around it, so I'll have to think about this a bit.  If you feel confident that this solution will work, please go ahead and implement the change and send a PR.

Please include two integration tests.  One that *should* emit a `.baseDir.ts` file and one that *should not* emit one.  The tests are in the `Gruntfile.js` - a good exam

[2015-10-19 00:55] basarat commented on #300
Indeed `.baseDir.ts` was a hack around the lack of official support for something like `rootDir` or `tsconfig.json`. The original discussion which resulted in this feature : https://github.com/TypeStrong/grunt-ts/issues/77

To be honest I feel that once we had `tsconfig.json` there wasn't a need for another option (e.g. `rootDir`) and I did resist it ... but not enough : https://github.com/Microso

[2015-10-23 21:56] bennyn opened #301 "Keep directory structure for output"
Hello,

I saved my TypeScript code in the follwoing directory:
- `/ts/Validation/ZipCodeValidator.ts`

And in my `ts.js` I configured:

[code]

When I now run the task `grunt ts:build`, then the JavaScript (compiled from the TypeScript) ends up being in `build`, which is exactly what I want. But unfortunately it does not keep the directory structure.

So I am missing the "Validation" directory ins

[2015-10-24 14:24] bennyn commented on #301
I got it fixed! I had to change:

[code]

into:

[code]

But that's very strange because other modules like [gruntjs/grunt-contrib-coffee](https://github.com/gruntjs/grunt-contrib-coffee) keep the directory structure when using the `/**/*.extension` pattern.

[2015-10-24 14:35] nycdotnet commented on #301
That's unusual.  I want to look into this.  Thanks for the report.

[2015-10-25 14:11] nycdotnet commented on #301
What's happening is that TypeScript is inferring a baseDir from the TypeScript files that are present.  Your best bet is to specify a rootDir option.  If your gruntfile looked like this, I believe everything would work as expected.

[code]

We need to improve how this works now that TypeScript has built-in baseDir support via a switch and tsconfig.json.  See https://github.com/TypeStrong/grunt-ts/

[2015-10-25 14:11] #301 closed

[2015-10-27 13:54] escardin commented on #202
@nycdotnet You did fix my issue, sorry for the delay.

[2015-10-31 18:02] nsgundy opened #302 "Omitting tsconfig option tsconfig-object fails"
grunt-ts at 5.1.0

When I omit the tsconfig option within the tsconfig object:
[code]
The result when running `grunt ts`:
[code]
If I don't omit the tsconfig option, then everything is fine. According to the documentation using tsconfig inside the tsconfig object is optional and should default to `tsconfig.json` when omitted.

[2015-10-31 18:14] nsgundy opened #303 "overwriteFilesGlob does not work when src uses variables and updateFiles"
grunt-ts 5.1.0

When the `overwriteFilesGlob` option is set to `true` and the `src` option uses a variable itself, then `updateFiles` wont't work correctly
Gruntfile.js:
[code]
What ends up being written to `tsconfig.json`:
[code]
None of the 33 files that `<%= yeoman.app %>/scripts/**/*.ts` resolves are being written to `tsconfig.json`.
I believe `overwriteFilesGlob` should resolve any variables

[2015-11-10 10:27] johnman commented on #224
If there are certain things required from a pull request then a quick note would be great.

I've submitted a pull request and just followed: everything builds still and updated test so that it confirmed that the fix worked.

[2015-11-10 15:30] nycdotnet commented on #224
You did the right thing - sorry I have been so busy that I haven't had the time to respond.  I will try to get to it tonight.

[2015-11-11 09:02] johnman commented on #224
Cheers. No need to apologise. I appreciate you putting in the time on an OS project and I know it can be be quite demanding at times (especially when you have to balance a day job and personal life alongside it!).

[2015-11-11 14:13] vilmosioo opened #305 "Task src"
When calling a task as "src", we get the false warning:

[code]

Renaming the task to anything else, the warning disappears.

Configuration:
[code]
Version used: "5.1.0"

[2015-11-11 19:13] ealves-pt opened #306 "tsconfig.json completely ignored"
Hey guys.

When I run grunt-ts it ignores my ```tsconfig.json``` file and nothing is generated.

My tsconfig.json looks like this:

[code]

And my grunt task is like this:

[code]

Am I missing something?

[2015-11-13 09:27] mironx opened #308 "Mistake in source code don't break grunt tasks"
I have problem that event I have mistake in source code (type script) it finished without error.
I am using:
"grunt": "latest",
"grunt-ts": "v5.1.0",
"grunt-cli": "latest"

It is problem e.g. form continuous development.

![grunt_webstorm](https://cloud.githubusercontent.com/assets/476990/11142914/1cf1328a-89f1-11e5-9ca9-71bb860b3418.png)

[2015-11-13 12:24] mironx commented on #308
I had to back to grunt-ts v4.2.0. And compilation build was stopped when ts return error.
1. What should be put to configuration in the latest version 5.1.0 to has the same behavior.
2. Is there description of this change as breaking change or it is bug?
![image](https://cloud.githubusercontent.com/assets/476990/11145886/c1cc63e8-8a09-11e5-9c2d-571b3f028298.png)

[2015-11-13 15:55] cloakedninjas commented on #8
I'm still getting these no matter if run with `--verbose` or not.

Could these files be created in the .tscache directory instead? Thus keeping all grunt-ts related files in a single place and requiring only a single .gitignore entry.

[2015-11-17 15:42] Niondir commented on #308
But then you do not have proper tsconfig support. We have the same issue using this config:

    	ts: {
			options: {
				fast: 'never'
			},
			build: {
				tsconfig: {
					tsconfig: "./src/",
					passThrough: true
				}
			}
		}

[2015-11-17 15:43] Niondir commented on #306
This works for me:

		ts: {
			options: {
				fast: 'never'
			},
			build: {
				tsconfig: {
					tsconfig: "./src/",
					passThrough: true
				}
			}
		},

[2015-11-17 15:50] Niondir commented on #308
**Found this:**
    var isSuccessfulBuild = (!isError || (isError && isOnlyTypeErrors && !options.failOnTypeErrors));

**Done that:**

		ts: {
			options: {
				fast: 'never',
				failOnTypeErrors: true
			},
			build: {
				tsconfig: {
					tsconfig: "./src/",
					passThrough: true
				}
			}
		},

**Works for me**

[2015-11-17 15:52] Niondir commented on #308
Documentation says:

    true (default), false - fail Grunt pipeline if there is a type error. (See also noEmitOnError)

[2015-11-17 18:29] ealves-pt commented on #306
No lucky with that configuration.

[2015-11-17 18:42] nycdotnet commented on #302
Hi - sorry for the delay.  I've been very busy with a new job and baby and a few other projects.  I will try to look into this as soon as possible.

[2015-11-17 18:42] nycdotnet commented on #303
Hi - sorry for the delay.  I've been very busy with a new job and baby and a few other projects.  I will try to look into this as soon as possible.

[2015-11-17 18:43] nycdotnet commented on #305
The task itself is named src?  That's interesting.  I'll take a look.  Thanks for the report.

[2015-11-17 18:43] nycdotnet commented on #306
Hi - sorry for the delay.  I've been very busy with a new job and baby and a few other projects.  I will try to look into this as soon as possible.

[2015-11-17 18:43] nycdotnet commented on #308
Hi - sorry for the delay.  I've been very busy with a new job and baby and a few other projects.  I will try to look into this as soon as possible.

[2015-11-18 02:49] nycdotnet commented on #308
Are you setting `failOnTypeErrors` to false?  The default is true which means if there is a type error, the build should fail.  I just did a simple test with v5.1.0 and grunt did fail for me.  If you're not setting `failOnTypeErrors` to false, would you mind sharing the `ts` part of your gruntfile?

[2015-11-18 02:59] nycdotnet commented on #306
@ealves-pt What version of TypeScript and grunt-ts do you have?  Please run this in your command line from the same folder as your `gruntfile.js`, and see if it runs TypeScript as you expect:

[code]

(if you need to fix this at all to get it working, let me know how)

By the way - please re-read the docs in the grunt-ts readme about how to use the tsconfig option.  The `exclude` property is ignor

[2015-11-18 03:37] nycdotnet commented on #305
This should be resolved with v5.1.1 via ab09c2e5b7e807a36b8ba2c5fff8d2df8b4e23b9.  Please re-open if not.  Thanks for the report.

[2015-11-18 03:37] #305 closed

[2015-11-18 08:47] ealves-pt commented on #306
@nycdotnet the current versions in user are: typescript@1.6.2 and grunt-ts@4.2.0.

Running that command works as expected.

Regarding the ```exclude``` config I already dropped it my config file.

[2015-11-18 12:08] Niondir commented on #308
@nycdotnet see my last post. I definitely have to set failOnTypeErrors = true explicitly. Since the default seems to be false in fact.

[2015-11-18 15:29] nycdotnet commented on #306
Ah ok.  grunt-ts added support for tsconfig.json in v5.  Update to the latest grunt-ts (5.1.1 as of today) and it should hopefully work OK.

[2015-11-18 20:21] ealves-pt commented on #306
Worked like a charm. Thank you very much for the help. :+1:

[2015-11-18 20:21] #306 closed

[2015-11-19 12:36] johnman commented on #308
I just tried with setting failOnTypeErrors and it didn't fail even though I had type errors. I'm guessing it's defaulting to false.

[2015-11-19 13:59] nycdotnet commented on #308
Can you confirm the version of TypeScript that you have?

[2015-11-19 16:38] johnman commented on #308
1.6.2 thanks

[2015-11-20 08:11] mironx commented on #308
I am sorry for delay too.
1. ts version: 1.6.2
2. I have test both: noEmitOnError: true and noEmitOnError: false
for true it just not generate output but still grunt process finish with success

[2015-11-20 15:11] nycdotnet commented on #308
I looked at this last night and I think I found the issue.  A patch should be out soon.

[2015-11-20 15:54] mironx commented on #308
Ok. I will test when will be ready.

[2015-11-21 04:41] nycdotnet opened #309 "Some tests have html options on the target itself"
Need to fix these up.

[2015-11-21 05:36] nycdotnet opened #310 "Rewrite anything that relies on utils.copyFileSync"
copyFileSync is awesome until it intermittently bombs because it's not really synchronous and the files are still in use.  Sadly, anything that uses it in the tests should be rewritten to use an async copy that can ensure all writes are complete.

[2015-11-21 05:51] #308 closed

[2015-11-21 07:34] johnman commented on #308
I'll see if I can test this over the weekend. Question: from my quick scan it seems that the default is not to fail in grunt if there is a build problem. Is this because of support of ts config and ide support? Thanks

[2015-11-21 15:19] nycdotnet commented on #308
The thing you saw was probably where I converted failOnTypeErrors to null. That is in a "TypeScript" defaults section and I'm just being academic since TypeScript has no such switch.  failOnTypeErrors gets defaulted to true if it's not set with this patch (which wasn't happening before).  It had been set properly on the default config object, but it just wasn't getting copied over.

[2015-11-21 15:27] mironx commented on #308
I have tested. It works :-). Thank you very match.
Have nice weekend.

[2015-11-21 16:08] nycdotnet commented on #308
Great.  Thanks for the report!

[2015-12-02 12:26] joskuijpers opened #311 "Support for 1.7"
Hi folks,

How is support for 1.7 coming along? I would love to use its bugfixes and its new module+es6 features.

[2015-12-02 13:13] nycdotnet commented on #311
You can use it right away by updating your package.json, running npm install, and then using the additionalFlags feature to pass any switches that are not supported yet.

https://github.com/TypeStrong/grunt-ts/blob/master/README.md#additionalflags

Native support will be a week or two out, but PRs accepted.

[2015-12-02 13:14] joskuijpers commented on #311
Oh haha, I see that I already use 1.7.3 after updating my typescript package.

Thanks!

[2015-12-02 14:19] gilamran opened #312 "outDir is not working when using tsconfig"
This is my grunt config:
[code]
And my **tsconfig.json** contains only `filesGlob` (No `compilerOptions` section)
Everything works, except that it will not respect the `outDir` option, all the js file are being generated right next to the ts files...
If I add `compilerOptions` with `outDir` inside the **tsconfig.json**, it will respect it... I also tried setting the `ignoreSettings` to true, but i

[2015-12-07 01:04] nycdotnet commented on #184
Implemented `--noLib`, `--emitBOM`, and `--locale` in 311bfb6ecfeaaee19ab0688e1060d78342b8ed0b.  Won't implement codepage as this appears to have been deprecated.

[2015-12-07 01:04] #184 closed

[2015-12-07 15:24] nycdotnet commented on #311
Native support for 1.7.3 was implemented in `5.3.0-beta.2`.  Please check it out if you have a chance.  The final release should be in a week or two depending on if I hear anything bad.

[2015-12-08 12:18] DerToti commented on #257
Shouldn't be this working now with module ``amd`` and ``--outFile``?
Is this supported by `grunt-ts`? I wanted to have grunt-ts (tsc) to concatenate the files.

[2015-12-08 13:29] nycdotnet commented on #257
They are adding concatenation of AMD and SystemJS modules to TypeScript 1.8 I think.  Tsc 1.7 and lower can't do it yet.  We plan to remove the warning in a future version.

[2015-12-08 13:34] nycdotnet commented on #257
See here: https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#option-to-concatenate-amd-and-system-modules-into-a-single-output-file

[2015-12-09 10:36] DerToti commented on #257
ah ok thx for the information :)

[2015-12-16 17:05] nibblesnbits opened #315 "grunt-ts hangs for several minutes"
I'm not sure if anyone else has had this problem, but for as long as I've been using grunt-ts, it has been hanging for several minutes every time I run the task.  Unfortunately it's also intermittent.  Occasionally it runs just fine.

When I use the `--verbose` flag, it stops at `Verifying property ts.default exists in config...OK`, and eventually continues.  Is there another way I can debug this?

[2015-12-16 21:38] Thomas-P commented on #315
Did you specify an input file via "src"? Otherwise it could hang. could you report your configuration?

[2015-12-17 05:50] nycdotnet commented on #315
Hi @nibblesnbits - thanks for the report.  We should probably take better advantage of the verbose switch and increase the logging to help diagnose this sort of issue.

Do you mind sharing the `ts` section of your gruntfile?

[2015-12-17 14:05] nibblesnbits commented on #315
[code]

[2015-12-19 17:28] nibblesnbits commented on #315
Is there a way to step into the grunt-ts code while running it on my machine to see exactly where it's hanging up?

[2015-12-19 18:41] nycdotnet commented on #315
Yes in the last section of the readme it describes it: "Quickstart for debugging Grunt plugins with Node Inspector".

I suspect you're running into an issue with your glob.  Can you try changing the second one to "!node_modules/**" and let me know if you still have hangs?  I think that excluding the .ts extension in the "not" still causes the globber to enumerate the files in node_modules everytim

[2015-12-21 17:38] korya opened #316 "Configuration options are confusing"
Hi guys,

I really don't get it. What is the **correct** `typescript` configuration that is equivalent to:

[code]

What I want to achieve is:
[code]

The problems that I have:
 - `cwd` options is not supported.
 - `dest` is not honoured

I tried

[code]

But it did not work.

[2015-12-21 17:52] korya commented on #316
OK, I should remove the `expand` options. The following config works as expected:

[code]

[2015-12-21 17:55] korya commented on #316
Anyway, do you plan to support a stadndard grunt file configuration (`cwd`, `srd`, `dest`)?

As I see it, it can be just a thin layer inside the plugin converting `cwd`, `src` and `dest` options to typescript ones (`out`, `outDir`, `rootDir`).

[2015-12-21 19:13] nibblesnbits commented on #315
I've tried `!node_modules/**` and `!node_modules` with no change.  I'll follow the debugging guide and see where I can get.

[2015-12-22 08:06] jimior2 opened #317 "about for minify"
Hello, I'm happy with grunt-ts, and have a question with js minify settings. Anyway to minify js file after compile from ts to js.
the flow:
.ts > .js > .min.js

[2015-12-22 12:12] vp2177 commented on #294
Thank you, confirmed fixed.

[2015-12-23 02:33] nycdotnet commented on #315
OK thanks.

[2015-12-24 04:09] basarat commented on #317
Use grunt-contrib-watch and specify the targets, they are executed in sequence.

Docs : https://github.com/gruntjs/grunt-contrib-watch#tasks :rose:

[2015-12-24 04:09] #317 closed

[2015-12-24 04:12] basarat commented on #316
All are wrong. `typescript:` is wrong. It should be `ts:` :rose: (perhaps a simple typo?)

Docs : https://github.com/TypeStrong/grunt-ts#getting-started

[2015-12-24 15:53] korya commented on #316
Yeah, probably I've posted the issue to a wrong repo ))) I played interchangeably with `grunt-ts` and `grunt-typescript`. I found the both plugins confusing in the same way, probably because I'm not familiar with typescript compiler usage.

What about a support of a stadndard grunt file configuration (`cwd`, `src`, `dest)`? Any plans to do it?

IMHO one of the main goals of such grunt plugin is tr

[2015-12-24 17:29] nycdotnet commented on #316
While `dest` directly is not supported, you can use the grunt standard `files` mechanism with grunt-ts, which allows use of `dest`.  `src` works as well.  `cwd` is not relevant.

We have no plans to change the API at this time.

[2015-12-26 06:05] nycdotnet commented on #312
I looked into this tonight.  I believe it is a bug.  I have to think about the correct way to fix it, but it should be doable.  Thanks for the report.

[2015-12-27 01:48] nycdotnet commented on #255
When this issue is fixed, re-enable test `htmlSpecifiedButNoTypeScriptSource_ShouldError`.

[2015-12-31 21:57] greenGoby commented on #300
I have tried to set a bunch of different options to try and get rid of the .baseDir.ts file.  The fact that it is generated in the source and not the target directory means all of our developers have to specifically ignore it.  I am setting rootDir, so hoping we can get this removed.  If there is a way to do it now, that would be great.  It looks like this issue is still open?

[2015-12-31 23:16] nycdotnet commented on #300
Hi - yes it's still open.  It's mainly a lack of time to dig into it rather than intent.  PRs definitely accepted that provide reasonable functionality for old TS (perhaps, but not necessarily using the existing feature) and new TS with native rootDir support.

[2016-01-05 11:44] dottodot opened #318 "Ignore node_modules not working"
Sorry please bear me as not had any experience with typescript before but trying to compile a simple angular2 app but no matter what I try `grunt-ts` always compiles the node_modules as well and then throws a load of errors like

[code]

Here's my config

[code]

and I've also tried other not rules such as

[code]

[2016-01-08 02:25] basarat commented on #318
This is because of TypeScript's new node_modules resolution. If you don't want this to happen use the `moduleResoution` set to `classic` in your tsconfig.json :rose: http://json.schemastore.org/tsconfig

[2016-01-08 02:26] basarat commented on #318
Feel free to ask further if its not clear :rose:

[2016-01-08 09:32] dottodot commented on #318
I'm still getting the same result with it set to classic.

[code]
and it's a good 30 sec before it shows the error I had before.

[2016-01-11 01:12] basarat commented on #318
@dottodot sorry. Can you share a working project I can clone and investigate :rose:

[2016-01-11 10:11] dottodot commented on #318
Yes here's the link

https://bitbucket.org/dottodotdesign/sails-angular

It's a SailsJs app so not sure how familiar you are with it. Anyway the grunt config file is in tasks/config. Let me know if need any more details.

[2016-01-11 22:25] basarat commented on #318
@dottodot I did the following:

* clone
* npm install
* grunt

However the errors I got are different.

![image](https://cloud.githubusercontent.com/assets/874898/12248570/6926eee6-b90e-11e5-98a2-f31a0f92d54d.png)

Did I do something wrong?:rose:

[2016-01-12 08:15] dottodot commented on #318
@basarat Sorry you need to run npm install on the assets directory as well.

[2016-01-12 13:04] jounii opened #319 "Warning: pattern.indexOf is not a function Use --force to continue."
Trying to run the ts command causes error:

[code]

I tried to debug, but could not find the cause.

grunt-cli v0.1.13
grunt v0.4.5
typescript v1.7.3

Tried all grunt-ts versions until 4.2.0 which worked without issues.

Gruntfile.js configuration:
[code]

Maybe there's something I'm missing blindly, but could not find it nor all the results Googling the same error just related mostly to grunt "fi

[2016-01-12 18:18] scriby commented on #50
I just started a new project with grunt-ts and running into this again

[2016-01-13 00:08] basarat commented on #318
I'm struggling to get it to work too. But then the whole build seems not simple and can't devote more time to it...sorry. Leaving it open for a hero :rose:

[2016-01-13 00:09] basarat commented on #318
Most likely not a bug, but a configuration error that I cannot track down

[2016-01-13 13:09] dottodot commented on #318
I think I might have resolved it anyway. Putting the tsconfig in the assets folder seems to work with moduleResoution set back to node as my grunt config as

[code]

[2016-01-14 00:06] basarat commented on #319
Is there any stack trace? :rose:

[2016-01-14 06:44] jounii commented on #319
Google told there was hidden (?) --stack parameter.

[code]

Actual paths sensored.

Had I knows existance of this parameter earlier I could have debugged more.. :)

[2016-01-14 07:00] jounii commented on #319
This is the full grunt config.

[code]

grunt ts:development used as the command to run just the development part. The stacktrace points to line which is executed only if options.watch exists. Added some logging and the options look like this at that point:

[code]

Not sure if this is intended to include all target configuration merged (or something like that?). Seems the options get messed up in

[2016-01-14 11:24] stefankolb commented on #312
I'm experiencing a similar issue.

This is my **tsconfig.json**:
[code]

And this is the grunt-ts config in my **Gruntfile.js**:
[code]

**Problem**: When I run grunt, the outDir is respected and .js-files are generated in _build/develop/assets/scripts_, but when I use grunt-contrib-watch execute the ts task, the outDir is not respected and .js-files are genereated right next to their .ts-files.

[2016-01-14 12:50] nycdotnet commented on #312
Please check out the latest beta which should resolve this issue.

[2016-01-14 13:46] stefankolb commented on #312
I'm using 5.3.0-beta.3, is this the latest beta?

[2016-01-14 16:39] nycdotnet commented on #255
Should be fixed with 0f95eafa4c1220f7470fcedf7213ceb09d00c811

[2016-01-14 17:11] nycdotnet commented on #319
I suspect it's because you're using `watch` as a target.  `watch` is one of the options we use for grunt-ts that gets passed along to Grunt. https://github.com/TypeStrong/grunt-ts#watch  So Grunt is trying to call indexOf on the object.

Perhaps you could rename it to `w` or `watched` or `live` or something?

[2016-01-14 17:21] nycdotnet commented on #312
@stefankolb yes.  Would you please start grunt with the `--verbose` switch and let me know what is being passed to tsc in the different scenarios?  We don't have any tests setup with grunt-config-watch so I'm curious what is different?

[2016-01-14 17:22] nycdotnet commented on #312
btw I'm just about to release 5.3.0-beta.4 but it is unlikely to make a difference as it just changes some stuff with HTML template processing

[2016-01-14 20:55] nycdotnet commented on #319
I created a demo for this and my theory was correct - using `watch` as the target name causes this issue.  Technically, this was a bug that was fixed in 5.0 since `watch` should be settable on the `ts` object to apply to all targets.

I think the best solution is to ban reserved words as target names within grunt-ts - and we should throw a hard error like "The grunt-ts keyword 'watch' cannot be us

[2016-01-14 21:13] nycdotnet commented on #319
After looking at this more, I think a warning is more appropriate.  That way if it works, great, if not at least people know why.
These will throw warnings:
'amdloader', 'html', 'htmlOutDir', 'htmlOutDirFlatten', 'reference', 'testExecute', 'tsconfig', 'templateCache', 'vs', 'watch'.
This should be in v5.3.0-beta.5.

[2016-01-14 21:18] nycdotnet commented on #311
See #320.

[2016-01-15 04:36] nycdotnet commented on #300
After looking into this further, I think that the baseDir feature is not doing much for us anymore with the implementation of rootDir.  I am going to work on getting the .baseDir functionality removed as long as rootDir is specified.

[2016-01-15 09:57] stefankolb commented on #312
@nycdotnet Sorry my answer took a while, but I'm quite puzzled. After starting grunt with `--verbose`everything was working fine. So I tried starting grunt without `--verbose` and everything was working fine, too. To be honest, I have no idea what I did to make this work correctly. Sorry to not be of any more help here.

Anyway, here is the output of both scenarios. Maybe this is of some use for y

[2016-01-15 11:46] jounii commented on #319
OK, make sense in that regard. Of course not sure why you would want the options flat on the root object. Many plugins seem to use options property for the default shared options, probably just because of this mix-up with target names. Easy to override target names people use.

I renamed my target now to "watcher".

[2016-01-15 12:51] nycdotnet commented on #319
Great.  Yeah we use some options on the target (those above) but most on the options object.  Thanks for the report!

[2016-01-15 16:41] #255 closed

[2016-01-15 19:08] nycdotnet commented on #319
This is resolved via a warning in grunt-ts v5.3.0 which was just pushed to npm.  Please comment or re-open if there are any remaining issues.  Thank you for contributing!  You're in the patch notes.

[2016-01-15 19:08] #319 closed

[2016-01-15 19:12] nycdotnet commented on #312
This is resolved via a warning in grunt-ts v5.3.0 which was just pushed to npm. Please comment or re-open if there are any remaining issues. Thank you for contributing!

I appreciate the info @stefankolb - I am assuming it's resolved now. Please let me know if it happens again with 5.3.0 final.

[2016-01-15 19:12] #312 closed

[2016-01-15 19:12] nycdotnet commented on #311
This is resolved via a warning in grunt-ts v5.3.0 which was just pushed to npm. Please comment or re-open if there are any remaining issues. Thank you for contributing!

[2016-01-15 19:12] #311 closed

[2016-01-15 19:13] nycdotnet commented on #303
This is resolved via a warning in grunt-ts v5.3.0 which was just pushed to npm. Please comment or re-open if there are any remaining issues. Thank you for contributing! You're in the patch notes.

[2016-01-15 19:13] #303 closed

[2016-01-15 19:14] nycdotnet commented on #302
Hi - I should get this into the next point release - thanks for the report.  Sorry I wanted to get 5.3.0 out the door and I got the other issue in.

[2016-01-15 19:45] nsgundy commented on #302
Thanks for the update and all the great work you are doing!

[2016-01-15 19:45] #302 closed

[2016-01-15 19:48] nycdotnet commented on #302
You're quite welcome.  I love feedback!  This should be fixed in 5.3.1 which I just published to npm.  Please re-open if there is an issue.  You're in the patch notes.  Thanks!

[2016-01-15 21:37] ravishivt opened #321 "5.3.1 Issue: "Visual Studio config issue: {}""
Just updated to 5.3.1 from 5.3.0-beta.3 and hit a build issue.

[code]

My grunt ts:src task:

[code]

[2016-01-15 21:56] riggerthegeek commented on #321
I'm also getting this.  Config below (working in v5.3.0-beta3 and -beta4)

        ts: {
            options: {
                compiler: "./node_modules/typescript/bin/tsc",
                declaration: true,
                module: "commonjs",
                moduleResolution: "node",
                noImplicitAny: true,
                preserveConstEnums: true,
                removeComments: t

[2016-01-15 23:27] nycdotnet commented on #321
Thanks for the report.  I will take a look asap.  If it was working in 5.3.0-beta.3, please revert to that version in the meantime.

Just to confirm - neither of you are using the Visual Studio integration?  (Does not appear so bases on your gruntfiles).

Thanks.

[2016-01-15 23:28] nycdotnet commented on #321
Interesting that your targets are both named src...

[2016-01-16 00:08] ravishivt commented on #321
Nope, no Visual Studio integration on my end.

[2016-01-16 02:38] nycdotnet commented on #321
This should be fixed in v5.3.2.  The issue was specifically with targets named `src`.

Thank you for the report!  You're in the patch notes.  If there is still a problem, please comment or re-open.

[2016-01-16 02:38] #321 closed

[2016-01-16 07:48] riggerthegeek commented on #321
Fame at last.

In answer to your question, no I'm not using Visual Studio - I use WebStorm.  v5.3.2 has fixed the issue.  Thanks

[2016-01-19 21:15] reflectivecode opened #323 "Nested arrays in src fails with message "Visual Studio config issue: {}""
Nested arrays in `src` worked fine on `5.3.0-beta.4` and before. I'm getting this error on versions `5.3.2`, `5.3.1`, `5.3.0`, and `5.3.0-beta.6`. All other grunt tasks I've tried support nested arrays in `src`.

The error:

    Running "ts:build" (ts) task
    Visual Studio config issue: {}
    Warning: Task "ts:build" failed. Use --force to continue.

    Aborted due to warnings.

My (now broken

[2016-01-21 17:32] nycdotnet commented on #323
Hi - sorry about that.  I learn something new about Grunt with every release!  We will fix this in the next patch.  PRs accepted in the meantime.  :-)

[2016-01-21 17:33] nycdotnet commented on #323
And thank you for the report!

[2016-01-26 10:43] richwatts opened #325 "Not compiling VS project"
I'm using the VS configuration option - I am adding my .csproj but I get namespace errors and syntax errors when compiling.

The project compiles completely fine via Visual Studio build tools. I need this Grunt task for Continuous Integration. Any guidance would be appreciated.

[2016-01-27 18:49] nycdotnet commented on #325
Hi.  Can you run Grunt with the `--verbose` switch and let me know what the command line is that gets passed to tsc?

Also, what version of Visual Studio are you using?

Thanks,

-Steve O

[2016-01-28 15:44] richwatts commented on #325
So I have managed to get it working. The project is using the TypeScript 1.4 compiler and it isn't upgradable (large LOB app, best not to ask). So I've pointed the customer compiler property to use this compiler and everything is not working as expected. Sorry to waste your time, but thanks for the response!

[2016-01-28 17:19] vp2177 opened #326 "grunt-ts 5.3.x fails whereas grunt-ts 5.1.x succesfully builds the project"
The code has several `TS2307: Cannot find module` warnings.
However it successfully builds with grunt-ts 5.1.x, but after upgrading to grunt-ts 5.3.x, the grunt task fails as tsc returns a code `2`

[2016-01-28 18:14] nycdotnet commented on #325
Oh great.  That's fine!  Glad to hear you're having good luck with grunt-ts now.

I'll close this.

[2016-01-28 18:14] #325 closed

[2016-01-29 01:40] nycdotnet commented on #326
Hi,

It's hard to help based on this error report.  What version of TypeScript are you using?  What's in your Gruntfile?  What's in your tsconfig.json file?

Please run Grunt with the `--verbose` switch to get the command-line parameters and provide them here.  Can you run tsc manually to get a different result?

Thanks,

-Steve O

[2016-01-29 13:09] Gouigouix opened #327 "TypeScript 1.8 Beta release"
You'll create a branch v5.4.0-beta for version 1.8 beta?

[2016-01-29 13:49] nycdotnet commented on #327
Yes we will have native support for it in the coming weeks.  In the meantime you can use TypeScript 1.8 with grunt-ts today by editing your package.json with the version number of the beta you want (get from npm) then run npm install.  If you need to pass switches that aren't supported natively yet by grunt-ts, use the additionalFlags option which lets you specify any string to pass to tsc.

[2016-01-30 22:08] vp2177 commented on #326
I have created a minimal testcase here: [grunt-ts-326](/vp2177/grunt-ts-326)

- `git clone` it; `cd grunt-ts-326`
- `npm update`
- `npm run grunt` - works *fine*
- `npm i grunt-ts@5.3.x`
- `npm run grunt` - *fails*

[2016-02-02 22:42] paullessing opened #328 ""Fast" compile does not work as cache is cleared on every compile"
When I run `grunt-ts` in a setup with `grunt-contrib-watch`, the fast compile does not work. Every time a file is changed, I see the following message:
[code]
I did some debugging and it appears the `compile.js` module is re-run every time, which clears the map which stores which files are cached for fast compile.

This results in a minor file change taking 45 seconds to recompile, which makes my

[2016-02-03 01:03] nycdotnet commented on #328
Hi,
Thanks for the report.  I'm slowly overhauling grunt-ts and haven't gotten to watch/fast yet.  I appreciate you looking into the code.
I'll be honest - the fast feature was written for a time before the TypeScript language service got good.  If you're looking for incremental compilation, that's probably your best bet with today's TypeScript.  The workflow would be compile on save with a good T

[2016-02-03 01:53] basarat commented on #328
@nycdotnet feel free to remove the *hacky* fast code if it becomes a maintenance problem :rose:

[2016-02-03 01:55] basarat commented on #328
Basically `grunt-contrib-watch` should be the one telling us which files changed. We had to get it to work because failure was not an option, but now the burden can really be pushed to grunt as this is something that should be generally supported by their ecosystem :rose:

[2016-02-03 14:45] Gouigouix commented on #327
@nycdotnet Cool, I'll test, pending a grunt-ts of beta ;o)

[2016-02-16 16:20] errorx666 commented on #285
:+1: This is preventing me from excluding the `typings/main.d.ts` file generated by [typings](/typings/typings), which results in a long list of duplicate definition errors.

[2016-02-19 15:16] nycdotnet opened #330 "Officially support Grunt 1.0 RC"
Confirm all code still works, remove deprecations (if any), and update docs, particularly around getting started/npm 3 stuff:

http://gruntjs.com/blog/2016-02-11-grunt-1.0.0-rc1-released

[2016-02-20 02:36] nycdotnet opened #333 "Make it more obvious how to support an alternate TypeScript version"

[2016-02-23 00:41] golear91 opened #334 "grunt-ts not respecting "exclude" in tsconfig"
I am using a tsconfig.json file in conjunction with grunt-ts here is the grunt task:

    ts: {
        default: {
        tsconfig: true
      }

and the tsconfig.json file:

    {
      "compilerOptions": {
        "target": "es5",
        "module": "system",
        "moduleResolution": "node",
        "sourceMap": true,
        "emitDecoratorMetadata": true,
        "experimentalDecorators": tr

[2016-02-23 00:49] basarat commented on #334
Duplicate of https://github.com/TypeStrong/grunt-ts/issues/285 . Feel free to jump in and help :rose:

[2016-02-23 00:49] #334 closed

[2016-02-24 14:41] #285 closed

[2016-02-24 21:31] golear91 opened #338 "Exclude not working correctly with typescript 1.8.2"
with typescript 1.7.5 works fine:
![image](https://cloud.githubusercontent.com/assets/16123225/13301599/8f912d04-dafa-11e5-953f-35fe6d7228c3.png)
When I upgrade to 1.8.2 it fails:
![image](https://cloud.githubusercontent.com/assets/16123225/13301639/c64fbde2-dafa-11e5-9122-1ac4873deee4.png)
Looks like the exclude directory is not working correctly.
Edit:
I am using a tsconfig.json file:

    {

[2016-02-24 22:59] errorx666 commented on #338
I'm trying to reproduce this issue, as I recently worked on the exclude code.  I'm having some trouble getting the same results.

@golear91
What platform are you running on?  (This shouldn't matter but the path separator difference can be a factor.)

Are you using the version of `grunt-ts` from the npm repository, or from the `master` branch?

Is there a repository I can clone that will reproduce

[2016-02-25 01:20] pramodsankarl commented on #338
I was about to post the same issue when i saw it has been logged already. :)

[2016-02-25 01:55] golear91 commented on #338
@errorx666 yeah I saw that you fixed the other issue I was running into (being unable to exclude files), but I am still running the npm version, not the latest from master.
additional details:
- windows 10
- grunt 0.4.5
- grunt-ts 5.3.1
- typescript 1.7.5 (works) 1.8.2 (doesn't)

The repo I'm working in is private so sorry can't provide you access to clone.

It seems like the generated tsconfig.js

[2016-02-25 03:41] errorx666 commented on #338
@pramodsankarl @golear91
Can you `npm install https://github.com/errorx666/grunt-ts/tarball/exclude-files`, and see if the issue is resolved already?
(I wouldn't keep using that version, but I want to verify the issue still exists.)

[2016-02-25 12:21] nsgundy commented on #328
Just wanted to chime in and say that I am really looking forward to having `grunt-ts` work with `grunt-contrib-watch` :) At the moment the only way to get it working seems to be to have `fast` turned off.

[2016-02-25 14:32] pramodsankarl commented on #338
@errorx666  Yes this works fine. Thank you. I cannot use this as is however. Would you be able to get this out sooner?

[2016-02-25 15:36] errorx666 commented on #338
@pramodsankarl I have a PR open for that branch.  Hopefully it will make it into the next NPM release.  I'm not a member of TypeStrong so I have no control over that.

[2016-02-25 22:18] golear91 commented on #338
hmm I'm still having issues after install fro the url above
package.json:

    "devDependencies": {
    "concurrently": "^1.0.0",
    "grunt": "^0.4.5",
    "grunt-chrome-manifest": "^0.3.0",
    "grunt-contrib-clean": "^1.0.0",
    "grunt-contrib-concat": "^0.5.1",
    "grunt-contrib-copy": "^0.8.2",
    "grunt-contrib-cssmin": "^0.14.0",
    "grunt-contrib-htmlmin": "^0.6.0",
    "grunt-contrib-

[2016-02-26 19:36] pramodsankarl commented on #338
@errorx666 Thank you. I am using passthrough option for now until the next upgrade with the fix. @golear91 Does running `tsc` command directly to compile work for you?

[2016-02-26 19:47] golear91 commented on #338
@pramodsankarl yup it works perfect, no Issues

[2016-02-28 01:09] s093294 commented on #300
Is there any way with current versions to not generate the .basedir.ts ?

[2016-03-04 09:14] k7sleeper opened #339 "Support TypeScript 2.0's compiler options baseUrl, paths and rootDirs"
I'd appreciate grunt-ts to support compiler options `baseUrl`, `paths` and `rootDirs` of the next TypeScript release.

Currently, it works for me using `passThrough` but that's a bit cumbersome.

[2016-03-04 10:43] MartinMa commented on #338
I'm having the exact same issue using `grunt-ts@5.3.2` on a Windows 8.1 machine.
The configuration in my `Gruntfile.js` looks like this
[code]

And tsconfig.js looks like this
[code]

It starts compiling, but stumbles upon files in the "excluded" folders. It also emits `Using tsc v1.8.7`.

@golear91 What exactly is the workaround? Passthrough? You mean calling tsc directly from the node_modules fo

[2016-03-04 17:32] pramodsankarl commented on #338
@MartinMa You can try this configuration for now if you are also facing duplicate def errors (and keep your exclude in `tsconfig.json`):

[code]

[2016-03-04 21:40] golear91 commented on #338
@MartinMa let me know if @pramodsankarl fix works for you, if not I can detail what I have done.

[2016-03-07 08:31] MartinMa commented on #338
Thank you both, the method described by @panuhorsmalahti works without problems.

[2016-03-08 04:28] marshmellow1328 opened #340 "Modules and OutDir"
How can I have the generated files output to a different directory than source files when using modules? I have tried both `out` and `outDir`, but neither work with modules. I simply don't want generated files sitting next to source files and must break source into multiple files. New to TypeScript so let me know if I'm missing something obvious.

[2016-03-09 02:54] marshmellow1328 commented on #340
I solved most of the problem using this configuration. I had to add `fast: 'never'` because otherwise files in subdirectories like `src/services/example.ts` would get compiled to `dist/example.ts`. This would break imports. Is there a way to use outDir, modules, and fast compiling?

[code]

[2016-03-09 13:46] nycdotnet commented on #340
Hi,
Fast shouldn't affect outDir so this sounds like a bug.  Thanks for the report.

[2016-03-10 03:58] marshmellow1328 commented on #340
Here appear to be a couple related issues: https://github.com/TypeStrong/grunt-ts/issues/77 and https://github.com/TypeStrong/grunt-ts/issues/139

1. I find it odd that the `.baseDir.ts` file gets created in `src/services` and not `src`.
2. `tasks/modules/compile.js` references `options.baseDir`, but `tasks/modules/optionsResolver.js` has nothing about baseDir. It's like the baseDir option was rem

[2016-03-10 18:01] nycdotnet commented on #340
I did a rewrite of the options resolver last summer and it's likely I broke `baseDir` because it wasn't documented.  #300 is related too.  It's on the list of things I need to get to as well as `fast` being broken at least in certain situations.  Thank you for the report and certainly PRs accepted.  I'll try to spend some time on grunt-ts soon.

[2016-03-11 03:07] marshmellow1328 commented on #340
So I believe the problem from #139 is how baseDir is calculated when not explicitly set. My repo is very similar to what's described in that issue. I have my code in a `src` folder. I also have `type_definitions/node.d.ts` outside of `src` directory. This results in utils.findCommonPath(...) to return an empty string so `options.baseDir` is never defined. A `.baseDir.ts` file is never created. Ult

[2016-03-11 03:09] marshmellow1328 commented on #340
`baseDir` option can't be explicitly set because it's missing from [optionsResolver.ts line 13](https://github.com/TypeStrong/grunt-ts/blob/master/tasks/modules/optionsResolver.ts#L13).

[2016-03-11 03:16] marshmellow1328 commented on #340
So the really simple fix seems to be to add `baseDir` to optionsResolver.ts, and explicitly set it in gruntfile. It will still result in problems for people who include type definitions outside of src folder or otherwise have source code from two different paths in their repo and who don't explicitly set baseDir.

My thoughts are below. Let me know what you think and I can try to help with PRs.

1

[2016-03-13 03:34] nycdotnet commented on #340
I merged in the PR for number one.  Thank you so much for your contribution.

I like your idea 2.

I think that idea 3 would be useful, but honestly I would prefer to just eliminate .baseDir.ts altogether.  There is a `rootDir` feature natively supported by new TypeScript versions.  #300 has some discussion on that topic.

Thanks again.

[2016-03-14 19:21] paschty opened #343 "r"

[2016-03-14 19:22] #343 closed

[2016-03-15 01:07] marshmellow1328 commented on #340
Ok, I did not understand `rootDir` and that it replaces `baseDir` when using newer versions of TypeScript. I submitted #344. If you're happy with that, we can close this ticket as I'm assuming most people are using a new enough version of TypeScript for `rootDir`.

[2016-03-17 01:00] manfield opened #345 "Compile Visual Studio Project file on other OS than Windows"
TypeScript paths, specified in VS prj file include the Windows' standard path separator "\".
That produce errors on other OS when trying to compile a VS prj file on other OS (like OSX),
Is there any workaround for that? Will it be considered as an issue to be solved in order to increase tool's portability?
Thanks

[2016-03-17 03:20] nycdotnet commented on #345
Good call.  This should be fixed in the csproj2ts library.  PRs accepted and I'm actually surprised this hadn't been raised yet.

[2016-03-17 16:26] manfield commented on #345
As far as I know a slash is always compatible, even on Windows OS.
We should avoid any OS check and substitute file separators.

[2016-03-18 10:56] vapits opened #346 "TypeScript compiler (with Grunt-TS) provides numerous of errors"
http://stackoverflow.com/questions/36082266/typescript-compiler-with-grunt-ts-provides-numerous-of-errors

Take a look please I'm starting to believe that is not my configuration.

Thx

[2016-03-18 18:19] #346 closed

[2016-03-18 22:09] JoshuaKGoldberg commented on #327
Did this ever get released?

[2016-03-19 19:17] nycdotnet commented on #327
Hasn't yet.  Slowly working to it.  Use additionalFlags for now as described above and 1.8 should work fine.

[2016-03-22 10:50] vapits commented on #328
For me too.
Fast fails with `grunt-contrib-watch` actually it cannot find modules if I work in a big project and not all the requires are in the file that is changed so the only option for me for now is to turn of the `fast` option.

[2016-03-22 15:59] nicojs commented on #338
Have the same issue, @errorx666 's version is working for me:
https://github.com/errorx666/grunt-ts/tarball/exclude-files :+1:

[2016-03-22 18:27] errorx666 commented on #338
@nicojs That branch was merged to master here.  You should not keep using it; I won't be maintaining it.

[2016-03-22 21:39] nicojs commented on #338
But is there already a release? I don't think so. I still get the errors with the `5.3.2` release (published 2 months ago)

[2016-03-22 22:39] nycdotnet commented on #338
I expect to publish in the next day or so.  Thanks for your patience.

[2016-03-23 03:39] nycdotnet commented on #345
This should be available in v5.4.0 - just deployed to npm.  Please let me know if you experience further issues.  Thanks for the PR!!!

[2016-03-23 03:39] #345 closed

[2016-03-23 03:41] nycdotnet commented on #340
Your fixes should be available in v5.4.0 - just deployed to npm.  Please let me know if you experience further issues.

I am going to close this ticket and open a new one to investigate `fast` interfering with `outDir`.

Thanks so much!!!

[2016-03-23 03:41] #340 closed

[2016-03-23 03:42] nycdotnet commented on #339
This will be added to grunt-ts vNext as soon as I get the chance to implement it.  Thank you for the report.

[2016-03-23 03:44] nycdotnet commented on #338
This should be published in v5.4.0 - just published to npm.  Please let me know if you have further issues.  Thanks for the PRs, @errorx666 , and thanks to everyone else who provided feedback. :smile:

[2016-03-23 03:44] #338 closed

[2016-03-23 04:15] nycdotnet commented on #326
Hi there - thank you so much for this repro.  Sorry it took so long to get back to you on this.

Unfortunately this was a regression in grunt-ts v5.0.0 that was fixed in v5.2.0.  See here: https://github.com/TypeStrong/grunt-ts/blob/master/CHANGELOG.md#v520-2015-11-21

The good news is that you just need to put `failOnTypeErrors: false` in your target or task `options` object, and you'll get the b

[2016-03-23 04:15] #326 closed

[2016-03-23 07:38] nicojs commented on #338
:+1:  works like a charm! Thanks everyone

[2016-03-23 09:21] manfield commented on #345
Awesome, thank you for your support.

[2016-03-23 20:32] vp2177 commented on #326
Thank you, yes this resolves the issue.

[2016-03-25 21:57] thorn0 opened #347 "Updating to v5.4.0 led to a change in the order in which the files are concatenated"
In my project, `tsconfig.json` with the `outFile` option is used. With v5.3.2, the files in the project root went first in the output file, which was exactly what is needed. But after the update, the order has changed. The files seem to be sorted by their name now, regardless their location. My project was broken, and I had to stick with 5.3.2.

So, is this an intended change?

How can I enforce t

[2016-03-25 23:18] nycdotnet commented on #347
Hi, we did change that code but this was not one of the intended results.  I also think grunt-ts should respect the order used by tsc.

[2016-03-26 16:36] nycdotnet commented on #310
This is implemented with e887e54c694d65557084af0f6014a438a0425837.

[2016-03-26 16:36] #310 closed

[2016-03-26 21:29] nycdotnet opened #349 "Proposal: `linting` macro"
Proposal: With the assumption that more will come with future versions, implement an option that will enable all of the TypeScript-provided linting options.  This will be updated as new linting features are added to TypeScript, so it will be somewhat of a set-and-forget for users of grunt-ts as they upgrade.  The `linting` option will be off by default.  An explicit setting will override the setti

[2016-03-26 22:41] nycdotnet commented on #327
This is underway in #350.

[2016-03-27 04:31] nycdotnet commented on #327
grunt-ts@5.5.0-beta.1 is now on npm with TypeScript 1.8.9 included.

[2016-03-29 12:52] Gouigouix commented on #327
Nice ;o)

[2016-04-05 04:15] nishantkagrawal commented on #321
I am still seeing this issue with v5.4

[2016-04-05 10:12] nycdotnet commented on #321
Did you rerun npm install after editing your package.json? Did 5.3.2 fix it and 5.4 was a regression? Thanks.

[2016-04-06 19:34] daslicht opened #351 "Compile all *.server.ts files but leave *.client.ts files untouched ?"
Hi,
lets say we have the following naming schema of files:

[code]
Is it possible to compile to just compile all *.server.ts files and leave the *.client.ts files untouched ?

related:
http://stackoverflow.com/questions/36436676/how-to-compile-all-files-with-the-extension-server-ts-only

[2016-04-06 20:49] nycdotnet commented on #351
Consider something like this in your gruntfile:

[code]

You'd then be able to run `grunt ts:compileServer` or `grunt ts:compileClient` and it compile the appropriate set of files.  To make Atom leave the files alone, you can disable compile on save - see here: https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#compileonsave

[2016-04-06 21:04] daslicht commented on #351
Uhh Oh thats the missing link.
```disable compile an save!```

Does that also prevent Atom from showing the warning that the files are missing in the tsconfig ?

eg:
![](https://i.imgur.com/uKGIm2C.png)

My current plan was to use browserify to bundle the client ts files.
Will Grunt-ts also bundle the imports into one file so that I can use it in the browser?
How would I have to load them ?
Do I n

[2016-04-06 21:11] daslicht commented on #351
Just tested :

[code]
no more compiler warnings :) I am going to try Grunt later when having more time

Thank You !

[2016-04-06 21:11] #351 closed

[2016-04-06 21:57] nycdotnet commented on #351
Note: `compileOnSave` under `compilerOptions` is the one you want.  `buildOnSave` defaults to false already.  `compileOnSave` controls "save one .ts file, emit one .js file".  `buildOnSave` controls "save one .ts file, emit **all** the .js files".

[2016-04-07 09:01] daslicht commented on #351
Thank you !

[2016-04-15 12:24] 0815fox commented on #191
+1 I would also like to have that, however, until end of this year I might be too busy to look into that.

[2016-04-17 09:44] Estebitus opened #352 "Error with the task grunt-ts"
I try to ignore the typings folder in my grunt coffee script, but when i execute the task it seems that is not excluding it.

This is my script

 ts:
      default:
        src: ["**/*.ts", "!typings/**/*.ts", "!node_modules/**/*.ts", "!bower_components/**/*.ts"]
        reference: "typings/reference.ts"

But it return me this. (This is the final part)

typings/main/ambient/lodash/index.d.ts(15824

[2016-04-17 16:49] nycdotnet commented on #352
If you want to use the reference feature of grunt-ts, the reference file must be included in the compilation src list.  It appears you may also be missing some stars in your globs.  Run grunt with the with --verbose option and it will show what tsc command-line is being used.

[2016-04-17 18:21] Estebitus commented on #352
the stars must be a problem with the copy paste, but there are here.

I have run it with --verbose but the return is the same (with more explanations but the same at least).

I need to exclude all the files *.d.ts because i don't need to transpile it and there is the problem.

[2016-04-26 09:55] davidparsson opened #353 "Visual Studio config issue: {} when src contains nested arrays"
I'm seeing this error in 5.3.0, 5.3.1, 5.3.2 and 5.4.0, but not in 5.2.0:

    Running "ts:app" (ts) task
    Visual Studio config issue: {}
    Warning: Task "ts:app" failed. Use --force to continue.

What caused this in my case seems to be that my `src` contains nested arrays. My configuration looks kind of like this:

    applicationSources: [
      "app/file1.ts",
      "app/file2.ts"
    ],

[2016-04-26 09:57] davidparsson commented on #321
I've seen this from v5.3.0 to v5.4.0. I created #353 describing that.

[2016-04-26 11:07] davidparsson commented on #353
Oops, I found #323.

[2016-04-26 11:07] #353 closed

[2016-04-26 11:09] davidparsson commented on #323
One use case where support for this is needed is the following:

    applicationSources: [
      "app/file1.ts",
      "app/file2.ts"
    ],
    ts: {
      app: {
        src: [
          "dependencies.ts",
          "<%= applicationSources %>"
        ],
        dest: "build/app.js"
      }
    }

Grunt expands `<%= applicationSources %>`, turning `src` into this:

    src: [
      "dependencies

[2016-04-26 15:09] nycdotnet commented on #323
Thanks for the additional report.  PRs still accepted - but I haven't had time recently to work on this.

[2016-05-08 20:26] JoshuaKGoldberg commented on #77
I just got linked to here from a `.basedir.ts` file popping up during `options: out` builds. Is there anything happening on the issue?

[2016-05-08 20:43] JoshuaKGoldberg commented on #191
Dear god do want.

[2016-05-10 12:42] nycdotnet commented on #77
I'm planning to eliminate it in a future patch if someone passes the new rootDir option to tsc.  But it's a matter of getting to it.